/* CHAT css
-------------------------------------------------- */
#example1_wrapper .table-responsive
{
max-height: 1700px;
}
#message-container .panel-info
{
    border-color: #FF001B;
}

#message-container .panel-info > .panel-heading {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
#message-container .msg-input .input-group-btn #send-message  {
    color: #000;
    background-color: #FF001B;
    border-color: #FF001B;
}

#customer_services_msgbox .xwb-message-container .panel-info .panel-heading, #pvp_msgbox .xwb-message-container .panel-info .panel-heading {
    height: 56px;
}

#customer_services_msgbox .xwb-message-container .panel-info .panel-heading .conversation-name, #pvp_msgbox .xwb-message-container .panel-info .panel-heading .conversation-name{
    margin-top: 0px;
    margin-bottom: 0px;
}

.agent_table table thead tr th
{
    color: #000;
}
.agent_table table tr:hover
{
    color: #000 !important;
}
.background-white
{
	background-color: #fff !important;
}
.agent_navigation .navbar-form
{
	float: left;
}

.agent_navigation .agent_navigation_link
{
	float: right;
}

.agent_navigation a
{
    padding: 7px 14px;
    margin: 0px 30px 0px -25px;
    background-color: #3c8dbc;
    color: #fff;
}
#message-container h3, #message-container_pvp h3, #message-container_pvp .panel-heading h3 a
{
    font-size: 20px;
    font-weight: 600;
    color: #ff5000;
    text-transform: uppercase;
}
form .download_history, form .reset_history
{
    padding: 6px 14px;
    margin: 0px 30px 0px -25px;
    background-color: #3c8dbc;
    color: #fff;
    border: none;
}

.agent_navigation
{
        margin-bottom: 4px;
}
.agent_navigation .agent_navigation_link
{
    padding: 7px 14px;
    margin: 0px 30px 0px -25px;
}
.agent_navigation a:hover, .agent_navigation a:focus, .agent_navigation a:active
{
    color: #fff;
}
.agent_table
{
	margin: 8px 0 0 0;
}

.message_row_container
{
	width: 100%;
}
.pull-right
{
	text-align: right;
}
.pull-left
{
	text-align: left;
}
#message-container {
    width: 65%;
    background-color: #242424 !important;
    border: 1px solid #FF5000;
}
#message-container_pvp {
    width: 65%;
    background-color: #242424 !important;
    border: 1px solid #FF5000;
    position:relative;
}
.message-inner
{
	border:1px solid;
}
.message-inner 
{
    border: 1px solid #d1d1d1;
    padding: 13px 0;
    max-height: 270px;
    overflow-y: scroll;
    background-color: #fff;
    min-height: 270px;
}
#message-container_pvp
{
    color: #000;
}
.msgbox_footer.call_admin_link
{
        background: #252525;
}

.call_admin_link
{
    margin-top: 0px;
    margin-bottom: 0px;
}
.call_admin_link .group_name
{
    text-align: left;
    color: #FF5000;
}
.call_admin_link .group_name a,.call_admin_link .group_name a:hover
{
    color: #FF5000;
}
.call_admin_link .call_admin_row
{
    color: #FF5000;
}
.overflow_manage
{
    margin: 12px;	
    position: relative;
    padding-bottom: 60px;
}
.sponsered_by_logo
{
    position: inherit;
    bottom: 0%;
    left: 0;
    right: 0;
    max-width: 83.33333333%;
    margin-top: 30px;
}
.add_adminside_chat
{
    border: 1px solid #d1d1d1;
    padding: 0px 0;
    background-color: #fff;
}
.msgbox_at_adminside {
    padding: 10px;
}
.message_send_div
{
	    padding: 0px 0px 0px 20px;
}
.message_send_div #send-message-to-customer
{
	background-color: #FF5000;
	border-color: #FF5000; 
	font-weight: bold;
	color: #fff;
}
.panel-info>.panel-heading
{
	background-color: #FF0028;
	border-color: #FF0028; 
	font-weight: bold;
	color: #000;
}
.modal-header .close
{
	color: #000;
	opacity: 1;
}
.message-box .message_row_container p {
    color: #000;
}
.chat_top_logo_div
{
    background-color: #1f1f1f;
}
.chat_logo_div img
{
    width: 92%;
}
.message-input-frontend-side, .message-input-admin-side
{
    background-image: url(../images/chat_bottom.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}
button#call-admin-for-help {
    background-color: #FF5000;
    border: #FF5000;
}
 #send-message-to-pvp-player, #send-message-to-pvp-player-from-admin, #send-message-to-admin

{
    font-size: 16px;
    background: #FF5000;
    padding: 10px 15px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    border-color: #ff5000;
    line-height: 17px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
#message-container_pvp .panel-info {
    border-color: #FF001B;
}
#message-container_pvp .panel-info > .panel-heading {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.conversation-name a
{
    color: #000;
    cursor: default;
}
.conversation-name a:hover,.conversation-name a:focus,.conversation-name a:active
{
     color: #000;
    cursor: default;
    text-decoration: none;   
}
#message-container_pvp .panel-info > .panel-heading {
    height: 56px;
}
#message-container_pvp .panel-info > .panel-heading .conversation-name
{
        margin-top: 0px;
    margin-bottom: 0px;
}
.color_blue
{
    color: #3c8dbc;
}
.color_orange
{
    color: #FF5000;
}

.video_box {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
    height:100%;
}
.video_box video {
    width: 100%;
    height: 97%;
}
#message-container_pvp { min-height: 641px;  }
#message-container_pvp.contentnot .popup-content-wrapper { display: none;  }
#message-container { min-height: 641px; position: relative; }
/*#message-container.contentnot .popup-content-wrapper_customer_fontside { display: none;  }*/

.skipvidtrigger {
    background: rgba(244, 50, 15, 0.8);
    color: #fff;
    position: absolute;
    right: 0;
    width: auto;
    bottom: 70px;
    padding: 10px 28px;
    font-size: 14px;
    text-transform: uppercase;
}
.skipvidtrigger:hover { text-decoration: none; color:#fff;  }
.modal.fade.popupout video { display: none !important; }
.video_box iframe { width: 100%; height: 100%;  }
.popup-content-wrapper { position: relative; z-index: 8; }

form.add_ads .form-group {
    margin-bottom: 19px;
    
    border-radius: 4px;
    padding: 6px;
}
form.add_ads .form-group img
{
    margin-top: 10px;
    border: 1px solid #ccc;
}



/*============================

New Chat Window

==============================*/
.customer_chatbox_main_row #message-container
{
    width: auto;
    min-height: auto;
}
.customer_chatbox_main_row #message-container .video_box
{
    background-color: transparent !important;
}

.customer_chatbox_main_row #message-container .panel-info .panel-heading .conversation-name, #pvp_msgbox .xwb-message-container .panel-info .panel-heading .conversation-name {
    margin-top: 0px;
    margin-bottom: 0px;
}
.customer_chatbox_main_row #message-container .panel-info .panel-info .panel-heading, #pvp_msgbox .xwb-message-container .panel-info .panel-heading {
    height: 56px;
}

.customer_chatbox_main_row #message-container .panel-info > .panel-heading {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.customer_chatbox_main_row #message-container .panel-info {
    border-color: #FF001B;
}
.customer_chatbox_main_row #message-container {
    min-height: 590px;
    position: relative;
}
.customer_chatbox_main_row #message-container h3, #messagebox-container_pvp h3, #messagebox-container_pvp .panel-heading h3 a {
    font-size: 20px;
    font-weight: 600;   
    color: #ff5000;
    text-transform: uppercase;
}
.chat-box_fronside .chat_logo_div img {
    width: 60%;
}

.customer_chatbox_main_row #message-container .video_box video {
    height: 100%;
}
.customer_chatbox_main_row #message-container .message-input-frontend-side, .customer_chatbox_main_row #message-container .message-input-admin-side
{
        background-size: auto 100%;
}
.customer_chatbox_main_row #message-container {
    position: relative;
}
.customer_chatbox_main_row #message-container #message-inner-div-admin-side
{
    min-height: 250px;
}


.customer_chatbox_main_row #message-container {
    background-color: transparent !important;
    border: none;
}
.content-wrapper .content .chatbox_main_div
{
        margin: -30px -15px -15px -15px;
}
 
.pvp_chatbox_main_row #message-container_pvp
{
    width: auto;
    min-height: auto;
}
.pvp_chatbox_main_row #message-container_pvp .video_box
{
    background-color: transparent !important;
}

.pvp_chatbox_main_row #message-container_pvp .panel-info .panel-heading .conversation-name, #pvp_msgbox .xwb-message-container .panel-info .panel-heading .conversation-name {
    margin-top: 0px;
    margin-bottom: 0px;
}
.pvp_chatbox_main_row #message-container_pvp .panel-info .panel-info .panel-heading, #pvp_msgbox .xwb-message-container .panel-info .panel-heading {
    height: 56px;
}

.pvp_chatbox_main_row #message-container_pvp .panel-info > .panel-heading {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.pvp_chatbox_main_row #message-container_pvp .panel-info {
    border-color: #FF001B;
}
.pvp_chatbox_main_row #message-container_pvp {
    min-height: 591px;
    position: relative;
}
.pvp_chatbox_main_row #message-container_pvp h3, #messagebox-container_pvp h3, #messagebox-container_pvp .panel-heading h3 a {
    font-size: 20px;
    font-weight: 600;   
    color: #ff5000;
    text-transform: uppercase;
}
.chat-box_fronside .chat_logo_div img {
    width: 60%;
}   

.pvp_chatbox_main_row #message-container_pvp .video_box video {
    height: 100%;
}
.pvp_chatbox_main_row #message-container_pvp .message-input-frontend-side, .pvp_chatbox_main_row #message-container_pvp .message-input-admin-side
{
        background-size: auto 100%;
}
.pvp_chatbox_main_row #message-container_pvp {
    position: relative;
}
.pvp_chatbox_main_row #message-container_pvp #message-inner-div-admin-side
{
    min-height: 250px;
}

.pvp_chatbox_main_row #message-container_pvp {
    background-color: transparent !important;
    border: none;
}
.open_pvp_chat a, .link_to_open_chat {
    cursor: pointer;
}
table#customer_service tbody tr td button {
    width: 30%;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.timer.custom_timer span.jst-hours
{
    display: none;
}