/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@font-face {
    font-family: 'alte_din_1451_mittelschriftRg';
    src: url('../fonts/din1451alt_g-webfont.woff2') format('woff2'),
         url('../fonts/din1451alt_g-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alte_din_1451_mittelschriftRg';
    src: url('../fonts/din1451alt-webfont.woff2') format('woff2'),
         url('../fonts/din1451alt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
  background:#000000;
  padding-bottom:0px;
  color: #ffffff;
  font-family: 'alte_din_1451_mittelschriftRg';
  }


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
body .main-wrapper {
  font-family: Helvetica;  
  height:100%;
  width:65%;
  background-color:#eee;
  margin: 0 auto;
  padding-top: 160px;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;}

  body.shrink-header .main-wrapper{
    padding-top: 90px;}

body .header-wrapper {
  width:100%;
  height:150px;
  color: #fff;
  position:fixed;
  top:0;
  left:0;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;}

  body.shrink-header .header-wrapper{
    height:70px;
    background: rgba(0,0,0,0.65);
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;}

/*body h1{
  padding: 0.25em 0;
  font-size: 3em;
  text-align: center;
  transition: all 500ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;}

  body.shrink-header h1{
    font-size: 1em;
    padding: 0;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;}

*/


body.hide-header .header-wrapper{
  top:-150px;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;}

body.show-header .header-wrapper{
  top:0px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;}

.navbar-collapse{
	float:left;
	width:54%;
	}
.navbar-nav{
	float:right;
	margin:20px 0 0;
	}
.login-sec{
	float:right;
	margin-top:30px;
	width:17%;
	}
.login-sec > a#loginDiv{
    float: right;
	margin-bottom:10px;
	color:#ff5000;
	text-decoration:none;
	}
.login-sec a#loginDiv span{
	margin-left:12px;
	}
.login-sec a#loginDiv span i.fa{
	color:#ff5000;
	}
.login-sec a#loginDiv:hover span i.fa{
	color:#ffffff;
	}
.userImg img{
	width:36px;
	height:36px;
	border-radius:50%;
	border:1px solid #ff5000;
	}
.login-sec #expandDiv{
	display:none;
	float:left;
	width:100%;
	background:#f5f5f5;
	}
.login-sec ul{
	 padding-left: 0;
	 margin-top:0px;
	 margin-bottom:0;
	 }

.login-sec ul li{
	list-style:none;	
	}
.login-sec ul li a{
	color:#a3a2a2;
	font-size:14px;
	text-transform:uppercase;
	text-decoration:none;
	padding:10px 15px;
	float:left;
	width:100%;
	transition:all ease-in-out 0.3s;	
	}
.login-sec ul li:first-child a{
	border-bottom:1px dotted #ff5000;
	}
.login-sec ul li a:hover{
	background: #ff5000;
	color:#ffffff;
	}
.navbar-inverse{
	background-color:transparent;
	border:none;
	}
.navbar-inverse .navbar-nav > li > a{
	font-size:18px;
	color:#ffffff;
	text-transform:uppercase;
	}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ff5000;
    background-color: transparent;
    }
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > a:focus{
	color:#ff5000;
	background-color:transparent;
	}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ff5000;
    background-color: transparent;
    }








/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 678px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  right:6%;
  bottom:120px;
}
.carousel-caption h1{
	font-size:72px;
	color:#ffffff;
	text-align:right;
	line-height:95px;
	}
.carousel-caption h1 span{
	font-size:132px;
	font-style:italic;
	font-weight:bold;
	}
.carousel-caption p{
	text-align:right;
	margin-top:75px;
	font-size:24px;
	font-weight:bold;
	}
.carousel-caption p span{
	text-transform:uppercase;
	font-style:italic;
	color:#0096ff;
	}
.carousel-indicators{
	width:auto;
	left:inherit;
	right:3%;
	bottom:45%;
	}
.carousel-indicators li{
	display:block;
	margin:8px 0;
	background:#ff5000;
	border:none;
	}
.carousel-indicators .active{
	margin:8px 0;
	border:none;
	width:10px;
	height:10px;
	}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 678px;
  background-color: #000;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 678px;
}

.howit-work{
	background:#000000;
	text-align:center;
	padding-bottom:80px;
	}
.howit-work h2{
	font-size:36px;
	text-transform:uppercase;
	color:#ff5000;
	margin-bottom:30px;
	}
.howit-work img{
	margin-bottom:20px;
	}
.howit-work p{
	font-size:18px;
	font-weight:bold;
	}
.onlyborder{
	border-bottom:1px solid #ff5000;
	display:block;
	}
.body-middle{
	background:url(../images/body-middleBG.jpg) scroll center bottom / cover no-repeat;
	height:2375px;
	}
.body-middle h2{
	font-size:36px;
	text-transform:uppercase;
	text-align:center;
	color:#ff5000;
	margin-top:-20px;
	}
.body-middle h2 p{
	font-size:14px;
	text-transform:uppercase;
	color:#ffffff;
	}
.float-caption{
	position:absolute;
	top:12px;
	left:25px;
	right:0;
	}
.float-caption h5{
	font-size:12px;
	color:#ffffff;
	display:inline-block;
	background:#ff5000;
	padding:5px;
	}
.float-caption > .time-duration {
    bottom: -90px;
    position: absolute;
    right: 25px;
	background:#232323;
	padding:3px 8px;
	}
.latestvdo h4{
	font-size:18px;
	color:#ff5000;
	margin-bottom:0;
	}
.latestvdo div.col-lg-3{
	margin-top:30px;
	}
.upload-by{
	font-size:14px;
	color:#545454;
	float:left;
	}
.upload-time{
	font-size:14px;
	color:#545454;
	float:right;
	}
.view-all{
	width:220px;
	margin:30px auto 10px;
	display:block;
	}
.view-all a{
	background:#ff5000;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	padding:5px 25px;
	border-radius:4px;
	text-decoration:none;
	}
.view-all a:hover{
	background:#d54301;
	}
.header2{
	margin:60px 0 50px;
	}
.bidhottest ul{
	padding-left:0;
	}
.bidhottest ul li{
	list-style:none;
	background:#181818;
	padding:5px;
	border:1px solid #ff5000;
	border-radius:4px;
	display:inline-block;
	width:100%;
	margin-bottom:15px;
	}
.bid-info{
	padding:0;
	}
.bid-info h3{
	font-size:24px;
	color:#ffffff;
	text-transform:uppercase;
	margin-top:0;
	margin-bottom:2px;
	}
.bid-info h3 span{
	font-size:18px;
	color:#ff5000;
	text-transform:capitalize;
	}
.bid-info p{
	color:#676767;
	text-transform:uppercase;
	font-size:18px;
	}
.bid-info p span{
	text-transform:capitalize;
	}
.bidimg{
	padding:0 4px 0 0;
	}
.bidimg img{
	width:100%;
	}
.postby{
	color:#ff5000;
	font-size:18px;
	position:relative;
	bottom:-15px;
	}
.uplod-day h4{
	color:#ff5000;
	font-weight:bold;
	font-size:24px;
	margin-top:35px;
	}
.game-price{
	background:#252525;
	border-radius:3px;
	overflow:hidden;
	position:relative;
	top:7px;
	}
.game-price h3{	
	font-size:36px;
	font-weight:bold;
	text-align:center;
	margin-top:25px;
	margin-bottom:25px;
	}
.premium p{
	font-size: 12px;
    padding: 3px 30px 0;
    position: absolute;
    right: -24px;
    top: 14px;
    transform: rotate(40deg);	
	color:#252525;
	}
.premium{
	border:1px solid #ff9000;
	}
.premium h3{
	color:#ff9000;
	}
.premium p{
	background:#ff9000;
	}

.play-n-rating a{
	font-size:24px;
	font-weight:bold;
	text-transform:uppercase;
	padding:8px 40px;
	color:#252525;
	border-radius:4px;
	margin-left:40px;
	text-decoration:none;
	transition:all 0.3s ease-in-out;
	}
.play-n-rating{
	margin-top:37px;
	}
.primum-play a{
	background:#ff9000;
	transition:all 0.3s ease-in-out;
	}
.play-n-rating a:hover{
	background:#000000;
	color:#ff5000;
	transition:all 0.3s ease-in-out;
	}
.primum-play span{
	color:#ff9000;
	}
.play-n-rating span{
	float:right;
	font-size:24px;
	}
.gold{
	border:1px solid #ffcc44;
	}
.gold h3{
	color:#ffcc44;
	}
.gold p{
	background:#ffcc44;
	font-size: 12px;
    padding: 3px 30px 0;
    position: absolute;
    right: -22px;
    top: 10px;
    transform: rotate(40deg);	
	color:#252525;
	text-transform:uppercase;
	}
.gold-play a{
	background:#ffcc44;
	}
.gold-play span{
	color:#ffcc44;
	}
.silver{
	border:1px solid #c2c2c2;
	}
.silver h3{
	color:#c2c2c2;
	}
.silver p{
	background:#c2c2c2;
	font-size: 12px;
    padding: 3px 30px 0;
    position: absolute;
    right: -22px;
    top: 10px;
    transform: rotate(40deg);	
	color:#252525;
	text-transform:uppercase;
	}
.silver-play a{
	background:#c2c2c2;
	}
.silver-play span{
	color:#c2c2c2;
	}
.platinum{
	border:1px solid #f15b2c;
	}
.platinum h3{
	color:#f15b2c;
	}
.platinum p{
	font-size: 12px;
    padding: 3px 30px 0;
    position: absolute;
    right: -24px;
    top: 14px;
    transform: rotate(40deg);	
	color:#252525;
	background:#f15b2c;
	text-transform:uppercase;
	}
.platinum-play a{
	background:#f15b2c;
	}
.platinum-play span{
	color:#f15b2c;
	}
.bronze{
	border:1px solid #895444;
	}
.bronze h3{
	color:#895444;
	}
.bronze p{
	background:#895444;
	font-size: 12px;
    padding: 3px 30px 0;
    position: absolute;
    right: -22px;
    top: 10px;
    transform: rotate(40deg);	
	color:#252525;
	text-transform:uppercase;
	}
.bronze-play a{
	background:#895444;
	}
.bronze-play span{
	color:#895444;
	}
.green{
	border:1px solid #0a8f3c;
	}
.green h3{
	color:#0a8f3c;
	}
.green p{
	background:#0a8f3c;
	font-size: 12px;
    padding: 3px 30px 0;
    position: absolute;
    right: -22px;
    top: 10px;
    transform: rotate(40deg);	
	color:#252525;
	text-transform:uppercase;
	}
.green-play a{
	background:#0a8f3c;
	width: 0;
    height: 0;
	border-style: solid;
	border-width: 0 0 20px 20px;
	border-color: transparent transparent #009999 transparent;
	}

.green-play span{
	color:#0a8f3c;
	}
.modal-footer{
	border:none;
	text-align:left;
	padding:10px 0 0;
	background:#1e1e1e;
	}
.modal-footer p{
	font-size:12px;
	line-height:15px;
	margin-top:15px;
	}
.modal-footer h3{
	font-size:20px;
	color:#ff5000;
	text-transform:uppercase;
	}
.modal-footer ul{
	padding-left:0;
	}
.modal-footer ul li{
	list-style:none;
	padding:0;
	}
.modal-footer ul li a{
	color:#ffffff;
	text-transform:uppercase;
	font-size:12px;
	}
.seclast h3{
	text-align:right;
	}
.social-sec{
	padding-left:0;
	float:right;
	}
.modal-footer .social-sec li{
	float:left;
	padding:10px;
	}
.social-sec li a i.fa{
	font-size:28px;
	}
.xtraLogo{
	width:100%;
	float:left;
	text-align:right;
	}
.xtraLogo a{
	margin-left:20px;
	}
.footer-panel{
	background:#ff5000;
	}
.footer-panel p{
	margin-bottom:0;
	padding:12px 0;
	margin-top:0;
	font-size:14px;
	}
.footer-panel p a{
	color:#ffffff;
	}
.powerd{
	text-align:right;
	}
.header1{
	margin:0;
	}
.innerPage{
	margin-top:130px;
	padding-bottom:40px;
	height:auto;
	}
.header3 h2 i.fa{
	margin:0 15px;
	}
.eventbanner{
	padding-right:0;
	}
.eventbanner img{
	width:100%;
	border:1px solid #ff5000;
	border-radius:8px;
	height:460px;
	}
.event-info img{
	height:auto;
	}
.event-info{
	position:absolute;
	top:20px;
	left:15px;
	right:0;
	text-align:center;
	}
.event-info h3{
	font-size:30px;
	text-transform:uppercase;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
	}
.event-info h3 span{
	font-size:18px;
	text-transform:uppercase;
	color:#ff5000;
	font-weight:bold;
	}
.event-info h1{
	font-size:60px;
	padding-bottom:5px;
	border-bottom:1px solid #ff5000;
	display:inline;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
	}
.event-info p{
	margin-top:60px;
	}
.event-info p a{
	background:#ff5000;
	padding:10px 30px;
	color:#ffffff;
	text-transform:uppercase;
	font-size:18px;
	border-radius:6px;
	border:1px solid #ffffff;
	text-decoration:none;
	transition:all 0.3s ease-in-out;
	}
.event-info p a:hover{
	background:#D54301;
	}
.event-info p a i.fa{
	padding:0 8px;
	}
.event-info img{
	width:85px;
	border:none;
	}
.eventThumb img{
	border:1px solid #ff5000;
	width:100%;
	}
.thumb-info {
    left: 15px;
    position: absolute;
    top: 0;
	}
.thumb-info h3{
	margin-top:4px;
	font-size:24px;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
	text-transform:uppercase;
	font-weight:600;
	}
.thumb-info h4{
	font-size:18px;
	text-transform:uppercase;
	text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
	color:#ff5000;
	font-weight:600;
	}
.thumb-info h4 span{
	float:left;
	width:100%;
	color:#ffffff;
	}
.thumbRow a:before{
	content: "";
	width: 0;
    height: 0;
	border-style: solid;
	border-width: 0 0 30px 23px;
	border-color: transparent transparent #ff5000 transparent;
	position:absolute;
	left:-23px;
	top:0;
	}

.thumbRow a{
	background:#ff5000;
	color:#ffffff;
	padding:5px 15px;
	position:absolute;
	right:1px;
	bottom:0px;
	text-transform:uppercase;
	text-decoration:none;	
	transition:all 0.3s ease-in-out;
	
	}
.thumbRow a:hover{
	background:#ffffff;
	color:#ff5000;
	}
.thumbRow a .fa{
	padding-left:12px;
	}
.thumbRow{
    position: relative;
	margin-bottom:4px;
	}
.header3{
	margin-bottom:20px;
	}
.header3 h2{
	margin-top:10px;
	}
.activeBids{
	margin-bottom:40px;
	}
.premium-thumb{
	position: relative;
	overflow:hidden;
	}
.premium-thumb img{
	border:1px solid #ff5000;
	width:100%;
	}
.premium-thumb p{
	position:absolute;
	top:25px;
	left:-49px;
	background:#eeb443;
	color:#a16e0b;
	text-transform:uppercase;
	font-size:24px;
	transform: rotate(-35deg);
	padding:1px 50px;
	}
.premium-caption{
	text-align:center;
	position:absolute;
	top:50px;
	left:0;
	right:0;
	}
.premium-caption h3{
	font-size:24px;
	text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
	color:#ffffff;
	font-weight:600;
	margin-bottom:25px;
	}
.premium-caption h3 span{
	float:left;
	width:100%;
	font-size:14px;
	}
.premium-caption a{
	color:#ffffff;
	font-size:18px;
	text-transform:uppercase;
	background:#ff5000;
	padding:4px 40px;
	text-decoration:none;
	transition:all 0.3s ease-in-out;
	}
.premium-caption a:hover{
	color:#ff5000;
	background:#ffffff;
	}
.premium-hottestBid{
	margin-bottom:50px;
	}
.innerBanner{
	position:relative;
	margin:0 0 40px;
	}
.innerBanner img{
	width:100%;
	}
.bannerCaption img{
	width:80px;
	}	
.bannerCaption{
	position:absolute;
	top:50px;
	left:0;
	right:0;
	text-align:center;
	text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
	}
.bannerCaption h2{
	color:#ff5000;
	font-size:60px;
	text-transform:uppercase;
	text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);	
	margin-top:20px;
	}
.bannerCaption h3{
	font-size:30px;
	color:#ffffff;	
	}
.bannerCaption h1{
	font-size:60px;
	color:#ffffff;
	border-bottom:1px solid #ff5000;
	display:inline;
	font-weight:600;
	}
.bannerCaption h4{
	font-size:60px;
	font-weight:600;
	margin-top:20px;
	}
.bannerCaption h4 span{
	color:#ffffff;
	}
.bannerCaption h4 span span{
	color:#ff5000;
	}
.gm-details-left, .gm-details-right{
	padding:0;
	}
.gm-title{
	background:#ff5000;
	height:140px;
	border-radius:4px;
	}
.gm-inlft{
	margin-right:2px;
	padding-right:12px;
	border-right:1px solid#ff5000;
	float:left;
	width:100%;	
	}
.gm-inrght{
	margin-left:2px;
	padding-left:12px;
	border-left:1px solid #ff5000;
	float:left;
	width:100%;
	}
.detailsRow{
	margin:0;
	}
.gm-title img{
	border-radius:50%;
	border:6px solid #ff5000;
	margin-top:-15px;	
	}
.gm-title .col-lg-4{
	padding:0;
	}
.gm-title h2{
	margin-top:15px;
	font-size:48px;
	font-weight:600;
	color:#ffffff;
	text-align:left;
	}
.gm-title h3{
	font-size:24px;
	color:#ffffff;
	font-weight:600;
	}
.gm-title h3 span{
	color:#6f2604;
	}
.descriptionTxt{
	margin:40px 0;
	}
.descriptionTxt p{
	font-size:18px;
	color:#ffffff;
	}
.gm-vdo-sec{
	text-align:center;
	}
.gm-vdo-sec h3{
	font-size:48px;
	color:#ff5000;
	font-weight:600;
	text-align:center;	
	margin-bottom:30px;
	}
.gm-vdo-sec h4{
	font-size:36px;
	text-align:center;
	text-transform:uppercase;
	font-weight:600;
	color:#ff5000;
	border-top:1px solid #ff5000;
	display:inline;
	padding-top:12px;
	}
.gm-vdo-sec h4 .fa{
	margin:0 10px;
	}
.game-vdo{
	margin-top:30px;
	}
.game-vdo img{
	width:100%;
	}
.exept-chalange{
	text-align:center;
	}
.exept-chalange a{
	background:#ff5000;
	font-size:30px;
	text-transform:uppercase;
	color:#ffffff;
	padding:12px 25px;
	border-radius:5px;
	text-decoration:none;
	transition:all 0.3s ease-in-out;
	}
.exept-chalange a:hover{
	background:#6f2604;
	}
.gm-inlft, .gm-inrght{
	min-height:825px;
	}
.login-signup-page{
	background:url(../images/login-pageBG.jpg) scroll center bottom / cover no-repeat;
	height:780px;
	padding-top:120px;
	}	
.login-signBlock{
	width:610px;
	margin:50px auto;
	display:block;
	}	
.login-signBlock h2{
	text-align:center;
	text-transform:uppercase;
	margin:5px 0 30px;
	color:#ff5000;
	font-size:30px;
	padding-left: 7%;
	}	
.login-signBlock .form-group label{
	text-align:right;
	font-size:18px;
	color:#ffffff;
	font-weight:500;
	}	
.login-signBlock .form-group{
	margin-bottom:22px;
	}	
.login-signBlock .form-group .input-group .form-control{
	height:40px;
	border-radius:6px;
	border:1px solid #ff5000;
	background:rgba(0,0,0, 0.8);
	font-size:16px;
	}	
.login-signBlock .form-group .input-group .form-control:focus{
	background:#ffffff;
	border:1px solid #ffffff;
	box-shadow:0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6)
	}	
.login-signBlock .form-group .input-group span.col-lg-3{
	padding:0;
	}	
.login-signBlock .form-group .input-group span.col-lg-1{
	font-size:24px;
	}	
.btn-group, .btn-group-vertical{
	text-align:center;
	display:block;
	clear:both;
	}	
.btn-group .btn-submit{
	font-size:18px;
	padding:8px 72px;
	border-radius:6px;
	border:none;
	background: rgb(255, 110, 45);
	background: -moz-linear-gradient(90deg, rgb(255, 110, 45) 43%, rgb(255, 82, 2) 94%);
	background: -webkit-linear-gradient(90deg, rgb(255, 110, 45) 43%, rgb(255, 82, 2) 94%);
	background: -o-linear-gradient(90deg, rgb(255, 110, 45) 43%, rgb(255, 82, 2) 94%);
	background: -ms-linear-gradient(90deg, rgb(255, 110, 45) 43%, rgb(255, 82, 2) 94%);
	background: linear-gradient(180deg, rgb(255, 110, 45) 43%, rgb(255, 82, 2) 94%);
	}	
.btn-group .btn-submit:hover{
	background:#ff5000;
	}
.login-signBlock p{
	text-align:center;
	margin-top:70px;
	color:#ffffff;
	font-size:18px;
	}
.login-signBlock p a{
	color:#ff5000;
	}
.login-signBlock p span{
	padding:0 15px;
	}
.login-sec li.active a{
	color:#ff5000;
	}
.game-list {
    width: 800px;
    margin: 50px auto;
    display: block;
}
.game-list h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 5px 0 30px;
    color: #ff5000;
    font-size: 30px;
    padding-left: 0%;
}
.game-list table th{
	color:#FF5000;
	text-align:center;
}
.actions a{
	background:rgba(255,80,0, 0.5);
	padding:4px 15px;
	border-radius:5px;
	color:#ffffff;
}
.actions a:first-child{
	margin-right:10px;
}
.game-img{
	margin-left: 31%;
	margin-bottom: 20px;
}

.fileUpload {
    background: #ff5000 none repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    margin: 0 10px 0 0;
    overflow: hidden;
    padding: 6px 20px;
    position: relative;
	width:20%;
}

.fileUpload input.upload {
    cursor: pointer;
    font-size: 20px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.form-upload{
	padding:0;
	margin-bottom:20px;
	}
#uploadFile.form-control{
	background:rgba(0,0,0, 0.8);
	width:77%;
	float:left;
	}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background:rgba(0,0,0, 0.8);
	border: 1px solid #ff5000;
	}
input[type="file"] {
    display: block;
}
*::-moz-selection {
    background: #d6edff none repeat scroll 0 0;
}
.gamelist-page .header2 h2{
	color:#ff5000;
	text-align:center;
	margin-top:-20px;
	}
.gmlist .bid-info h3{
	font-size:16px;
	color:#ff5000;
	margin-top:12px;
	}
.gmlist .bid-info p{
	font-size:14px;
	margin-top:12px;
	color:#ffffff;
	}
.gmlist .uplod-day h4{
	font-size:12px;
	margin-top:12px;
	color:#676767;
	}





	
	
	

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top:0px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
@media (min-width:992px) and (max-width:1199px){
.navbar-collapse{
	width:44%;
	}
.carousel-inner > .item > img{
	height:auto;
	}
.carousel{
	height:496px;
	}
.carousel .item{
	height:496px;
	}
.carousel-caption{
	bottom:0;
	}
.carousel-caption h1{
	font-size:46px;
	line-height:46px;
	}
.carousel-caption h1 span{
	font-size:56px;
	}
.latestvdo img{
	width:100%;
	}
.body-middle h2{
	font-size:28px;
	margin-top:-12px;
	}
.howit-work h2{
	font-size:28px;
	}
.float-caption > .time-duration{
	bottom:-50px;
	}	
.divPrice{
	margin-bottom:15px;
	padding-left:0;
	}
.bid-info{
	margin-bottom:13px;
	}
.body-middle{
	height:auto;
	padding-bottom:40px;
	}
.xtraLogo img {
    width: 40%;
	}
.body-middle .gm-title h2{
	margin-top:15px;
	}
.gm-title h3{
	font-size:20px;
	}
}
@media (min-width:768px) and (max-width:991px){
.carousel-inner > .item > img{
	height:auto;
	}
.carousel{
	height:400px;
	}
.carousel .item{
	height:400px;
	}
.carousel-caption{
	bottom:0;
	}
.carousel-caption h1{
	font-size:36px;
	line-height:46px;
	}
.carousel-caption h1 span{
	font-size:46px;
	}
.navbar-brand{
	padding:0;
	float:none;
	}
.navbar-brand > img{
	width:100%;
	}
.navbar-header{
	width:25%;
	}
.navbar-collapse{
	width:50%;
	}	
.navbar-nav > li > a{
	padding:10px;
	}
.login-sec ul li{
	padding:10px;
	}
.latestvdo img{
	width:100%;
	}
.body-middle h2{
	font-size:28px;
	margin-top:-12px;
	}
.howit-work h2{
	font-size:28px;
	}
.divPrice{
	margin-bottom:8px;
	padding-left:0;
	}
.bid-info{
	margin-bottom:13px;
	}
.body-middle{
	height:auto;
	}
.bannerCaption{
	top:15px;
	}	
.bannerCaption h3{
	font-size:24px;
	}
.bannerCaption h1{
	font-size:28px;
	}
.bannerCaption h4{
	font-size:28px;
	}
.gm-title .col-lg-4{
	width:44%;
	float:left;
	}
.gm-title .col-lg-8{
	width:56%;
	float:left;
	margin-top:20px;
	}
.gm-title{
	height:110px;
	}	
.gm-title img{
	width:100%;
	}	
.body-middle .gm-title h2{
	font-size:18px;
	}
.gm-title h3{
	font-size:14px;
	}
.exept-chalange a{
	font-size:20px;
	padding:12px 15px;
	}
.gm-vdo-sec h3{
	font-size:24px;
	}
.gm-vdo-sec h4{
	font-size:24px;
	}
.gm-inlft, .gm-inrght{
	min-height:670px;
	}
}
@media (max-width:767px){
.navbar-brand{
	float:none;
	padding:0;
	}
.navbar-brand > img{
	margin-top:10px;
	width:70%;
	}	
.container > .navbar-header, 
.container-fluid > .navbar-header, 
.container > .navbar-collapse, 
.container-fluid > .navbar-collapse{
	margin:0;
	}
.navbar-collapse{
	float:left;
	width:100%;
	background:rgba(0,0,0, 0.8);
	}
.navbar-nav{
	float:left;
	}
.login-sec{
	width:100%;
	background:rgba(0,0,0, 0.8);	
	}
.login-sec ul{
	margin-top:0;
	}
.login-sec ul li{
	padding:0 15px;
	}
.carousel-inner > .item > img{
	height:auto;
	}
.carousel-caption h1{
	font-size:22px;
	line-height:32px;
	}
.carousel-caption h1 span{
	font-size:32px;
	}
.carousel-caption p{
	font-size:16px;
	margin-top:10px;
	}
.carousel-caption{
	bottom:0;
	padding-bottom:0;
	}
body .header-wrapper{
	height:90px;
	}
.howit-work h2{
	font-size:24px;
	}
.howit-work .col-lg-3{
	margin-bottom:25px;
	}
.body-middle h2{
	margin-top:10px;
	}
.latestvdo img{
	width:100%;
	}
.body-middle{
	height:auto;
	}
.play-n-rating{
	margin-bottom:12px;
	}
.footer-panel p, .powerd p{
	text-align:center;
	padding:5px 0;
	}
.bid-info{
	padding-top:5px;
	}
.xtraLogo{
	margin-bottom:15px;
	}
.body-middle{
	padding-bottom:20px;
	}
.eventbanner img{
	height:auto;
	}
.eventbanner{
	padding-right:15px;
	}
.thumbRow a{
	right:1px;
	}
.premium-thumb{
	margin-bottom:12px;
	}
.bidhottest ul li a{
	margin-left:0;
	}
.thumbRow{
	margin-bottom:12px;
	}
.gm-inlft{
	margin-bottom:30px;
	}
.gm-vdo-sec h3{
	font-size:28px;
	}
.gm-vdo-sec h4{
	font-size:28px;
	}
.gm-inlft, .gm-inrght{
	min-height:auto;
	}
.gm-inrght{
	border-left:none;
	}
.gm-inlft{
	border-right:none;
	}
.gm-title h3{
	font-size:18px;
	}
.exept-chalange a{
	font-size:18px;
	}
.gm-inrght{
	margin-bottom:20px;
	}
.login-signBlock{
	width:100%;
	padding:0 15px;
	}
.login-signBlock h2{
	text-align:center;
	}
.login-signBlock .input-group{
	display:block;
	}
.login-signBlock .form-group label{
	padding-left:0;
	margin-top:5px;
	float:left;
	}
.login-signBlock .form-group .input-group span.col-lg-3{
	padding:0 3px;
	}
.login-signBlock .form-group .input-group span.col-lg-1{
	display:none;
	}
.login-signBlock .input-group{
	display:inline-block;
	width:100%;
	}
.login-signBlock .form-group{
	margin-bottom:10px;
	}	
.login-signBlock p{
	margin-top:25px;
	}
.login-signBlock p{
	font-size:14px;
	}
.login-signBlock p span{
	padding:0 14px;
	}	
}
@media (min-width:667px) and (max-width:736px){
.login-signBlock .form-group label{
	width:27%;
	}	
.login-signBlock .input-group{
	width:69%;
	}	
}

@media (min-width:481px) and (max-width:667px){
.carousel-inner > .item > img{
	height:auto;
	}
.carousel{
	height:310px;
	}
.carousel .item{
	height:310px;
	}
.login-sec ul{
	margin-bottom:0;
	float:right;
	}
.carousel-indicators{
	bottom:25%;
	}
.premium-caption h3{
	font-size:18px;
	}	
.premium-caption a{
	font-size:16px;
	}
.event-info{
	top:0;
	}
.event-info h3{
	font-size:24px;
	}	
.event-info h1{
	font-size:30px;
	}
.event-info p{
	margin-top:40px;
	}
.eventbanner{
	margin-bottom:12px;
	}
.bannerCaption{
	top:12px;
	}
.bannerCaption h2{
	font-size:16px;
	}
.bannerCaption h3{
	font-size:16px;
	}
.bannerCaption h1{
	font-size:18px;
	}
.bannerCaption h4{
	font-size:18px;
	}
.gm-title .col-lg-4{
	width:44%;
	float:left;
	}
.gm-title .col-lg-8{
	width:56%;
	float:left;
	margin-top:20px;
	}	
.login-signBlock .form-group label{
	width:27%;
	}	
.login-signBlock .input-group{
	width:69%;
	}
}
@media (min-width:415px) and (max-width:480px){
.carousel-inner > .item > img{
	height:auto;
	}
.carousel{
	height:240px;
	}
.carousel .item{
	height:240px;
	}
.login-sec ul{
	margin-bottom:0;
	float:right;
	}
.carousel-indicators{
	bottom:25%;
	}
.event-info h3{
	font-size:18px;
	margin-top:6px;
	}
.event-info h3 span{
	font-size:14px;
	}	
.event-info{
	top:0;
	}
.event-info img{
	width:46px;
	}
.event-info h1{
	font-size:20px;
	}
.event-info p{
	margin-top:30px;
	}
.event-info p a{
	font-size:14px;
	padding:3px 15px;
	}
.eventbanner{
	margin-bottom:12px;
	}

.thumb-info h3{
	font-size:20px;
	}
.thumb-info h4{
	font-size:18px;
	}
.body-middle h2{
	font-size:18px;
	}
.premium-caption h3{
	font-size:18px;
	}
.premium-caption a{
	font-size:16px;
	}
.bannerCaption{
	top:0;
	}	
.bannerCaption h3 {
    color: #ffffff;
    font-size: 16px;
    margin-top: 5px;
	margin-bottom:3px;
	}
.bannerCaption h1{
	margin-bottom:5px;
	font-size:18px;
	}
.bannerCaption h4{
	font-size:18px;
	margin-top:10px;
	}
.gm-title .col-lg-4{
	width:44%;
	float:left;
	}
.gm-title .col-lg-8{
	width:56%;
	float:left;
	margin-top:20px;
	}		
}
@media (min-width:376px) and (max-width:414px){
.carousel-inner > .item > img{
	height:auto;
	}
.carousel{
	height:335px;
	}
.carousel .item{
	height:335px;
	}
.login-sec ul{
	margin-bottom:0;
	float:right;
	}
.event-info h3{
	font-size:14px;
	margin-top:6px;
	}
.event-info h3 span{
	font-size:14px;
	}	
.event-info{
	top:0;
	}
.event-info img{
	width:46px;
	}
.event-info h1{
	font-size:16px;
	}
.event-info p{
	margin-top:12px;
	}
.event-info p a{
	font-size:14px;
	padding:3px 15px;
	}
.eventbanner{
	margin-bottom:12px;
	}

.thumb-info h3{
	font-size:16px;
	}
.thumb-info h4{
	font-size:14px;
	}
.body-middle h2{
	font-size:16px;
	}
.premium-caption h3{
	font-size:18px;
	}
.premium-caption a{
	font-size:16px;
	}
.bannerCaption{
	top:0;
	}
.innerBanner{
	margin-bottom:50px;
	}
.bannerCaption{
	top:0;
	}
.bannerCaption h3{
	font-size:18px;
	margin-bottom:2px;
	margin-top:5px;
	}
.bannerCaption h1{
	font-size:18px;
	}
.bannerCaption h4{
	font-size:18px;
	margin-top:2px;
	}
.gm-title{
	padding-bottom:5px;
	text-align:center;
	height:auto;
	}
.gm-title h2{
	text-align:center;
	}
}
@media (max-width:375px){
.carousel{
	height:335px;
	}
.carousel .item{
	height:335px;
	}	
.event-info h3{
	font-size:14px;
	margin-top:6px;
	}
.event-info h3 span{
	font-size:14px;
	}	
.event-info{
	top:0;
	}
.event-info img{
	width:46px;
	}
.event-info h1{
	font-size:16px;
	}
.event-info p{
	margin-top:12px;
	}
.event-info p a{
	font-size:14px;
	padding:3px 15px;
	}
.eventbanner{
	margin-bottom:12px;
	}

.thumb-info h3{
	font-size:16px;
	}
.thumb-info h4{
	font-size:14px;
	}
.body-middle h2{
	font-size:16px;
	}
.premium-caption h3{
	font-size:18px;
	}
.premium-caption a{
	font-size:16px;
	}
.body-middle .bannerCaption h2{
	font-size:14px;
	margin-top:5px;
	}
.bannerCaption img{
	width:45px;
	}
.innerBanner{
	margin-bottom:50px;
	}
.bannerCaption{
	top:0;
	}
.bannerCaption h3{
	font-size:14px;
	margin-bottom:2px;
	margin-top:3px;
	}
.bannerCaption h1{
	font-size:14px;
	font-weight:500;
	margin-top:0;
	}
.bannerCaption h4{
	font-size:14px;
	margin-top:2px;
	font-weight:500;
	}
.gm-title{
	padding-bottom:5px;
	text-align:center;
	height:auto;
	}
.gm-title h2{
	text-align:center;
	}
}
















