
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
	.navbar-wrapper { margin-top:0px; }
	.navbar-wrapper .container { padding-right: 0px; padding-left: 0px; }
	.navbar-wrapper .navbar { padding-right: 0; padding-left: 0; }
	.carousel-caption p { margin-bottom: 20px; font-size: 21px; line-height: 1.4; }
	.featurette-heading { font-size: 50px; }
}
@media (min-width: 992px) {
  .featurette-heading { margin-top: 120px; }
}
@media (min-width:992px) and (max-width:1199px){
	.navbar-collapse { width:44%; }
	.carousel-inner > .item > img{ height:auto; }
	.carousel{ height:auto; }
	.carousel .item{ height:auto; }
	.carousel-caption{ bottom:0; }
	.carousel-caption h1{ font-size:46px; line-height:46px; }
	.carousel-caption h1 span{ font-size:56px; }
	.latestvdo img{ width:100%; }
	.body-middle h2{ font-size:28px; margin-top:-12px; }
	.howit-work h2{ font-size:28px; }
	.float-caption > .time-duration{ bottom:-50px; } 
	.divPrice{ margin-bottom:15px; padding-left:0; }
	.bid-info{ margin-bottom:13px; }
	.body-middle{ height:auto; padding-bottom:40px; }
	.xtraLogo img { width: 40%; }
	.body-middle .gm-title h2{ margin-top:15px; }
	.gm-title h3{ font-size:20px; }
}
@media (min-width:768px) and (max-width:991px){
	.carousel-inner > .item > img { height:auto; }
	.carousel{ height:auto; }
	.carousel .item{ height:auto; }
	.carousel-caption{ bottom:0; }
	.carousel-caption h1{ font-size:36px; line-height:46px; }
	.carousel-caption h1 span{ font-size:46px; }
	.navbar-brand{ padding:0; float:none; }
	.navbar-brand > img{ width:100%; }
	.navbar-header{ width:25%; }
	.navbar-collapse{ width:50%; } 
	.navbar-nav > li > a{ padding:10px; }
	.login-sec ul li{ padding:10px; }
	.latestvdo img{ width:100%; }
	.body-middle h2{ font-size:28px; margin-top:-12px; }
	.howit-work h2{ font-size:28px; }
	.divPrice{ margin-bottom:8px; padding-left:0; }
	.bid-info{ margin-bottom:13px; }
	.body-middle{ height:auto; }
	.bannerCaption{ top:15px; } 
	.bannerCaption h3{ font-size:24px; }
	.bannerCaption h1{ font-size:28px; }
	.bannerCaption h4{ font-size:28px; }
	.gm-title .col-lg-4{ width:44%; float:left; }
	.gm-title .col-lg-8{ width:56%; float:left; margin-top:20px; }
	.gm-title{ height:110px; } 
	.gm-title img{ width:100%; } 
	.body-middle .gm-title h2{ font-size:18px; }
	.gm-title h3{ font-size:14px; }
	.exept-chalange a{ font-size:20px; padding:12px 15px; }
	.gm-vdo-sec h3{ font-size:24px; }
	.gm-vdo-sec h4{ font-size:24px; }
	.gm-inlft, .gm-inrght{ min-height:670px; }
}
@media (max-width:767px){
	.navbar-brand{ float:none; padding:0; }
	.navbar-brand > img{ margin-top:10px; width:70%; } 
	.container > .navbar-header, 
	.container-fluid > .navbar-header, 
	.container > .navbar-collapse, 
	.container-fluid > .navbar-collapse{ margin:0; }
	.navbar-collapse{ float:left; width:100%; background:rgba(0,0,0, 0.8); }
	.navbar-nav{ float:left; }
	.login-sec{ width:100%; }
	.login-sec ul{ margin-top:0; }
	.login-sec ul li{ padding:0 15px; }
	.carousel-inner > .item > img{ height:auto; }
	.carousel-caption h1{ font-size:22px; line-height:32px; }
	.carousel-caption h1 span{ font-size:32px; }
	.carousel-caption p{ font-size:16px; margin-top:10px; }
	.carousel-caption{ bottom:0; padding-bottom:0; }
	body .header-wrapper{ height:80px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0; }
	.howit-work h2{ font-size:24px; }
	.howit-work .col-lg-3{ margin-bottom:25px; }
	.body-middle h2{ margin-top:10px; }
	.latestvdo img{ width:100%; }
	.body-middle{ height:auto; }
	.play-n-rating{ margin-bottom:12px; }
	.footer-panel p, .powerd p{ text-align:center; padding:5px 0; }
	.bid-info{ padding-top:5px; }
	.xtraLogo{ margin-bottom:15px; }
	.body-middle{ padding-bottom:20px; }
	.eventbanner img{ height:auto; }
	.eventbanner{ padding-right:15px; }
	.thumbRow a{ right:1px; }
	.premium-thumb{ margin-bottom:12px; }
	.bidhottest ul li a{ margin-left:0; }
	.thumbRow{ margin-bottom:12px; }
	.gm-inlft{ margin-bottom:30px; }
	.gm-vdo-sec h3{ font-size:28px; }
	.gm-vdo-sec h4{ font-size:28px; }
	.gm-inlft, .gm-inrght{ min-height:auto; }
	.gm-inrght{ border-left:none; }
	.gm-inlft{ border-right:none; }
	.gm-title h3{ font-size:18px; }
	.exept-chalange a{ font-size:18px; }
	.gm-inrght{ margin-bottom:20px; }
	.login-signBlock{ width:100%; padding:0 15px; }
	.login-signBlock h2{ text-align:center; }
	.login-signBlock .input-group{ display:block; }
	.login-signBlock .form-group label{ padding-left:0; margin-top:5px; float:left; }
	.login-signBlock .form-group .input-group span.col-lg-3{ padding:0 3px; }
	.login-signBlock .form-group .input-group span.col-lg-1{ display:none; }
	.login-signBlock .input-group{ display:inline-block; width:100%; }
	.login-signBlock .form-group{ margin-bottom:10px; } 
	.login-signBlock p{ margin-top:25px; }
	.login-signBlock p{ font-size:14px; }
	.login-signBlock p span{ padding:0 14px; }
	.login-sec ul{ float:left; }
	.login-sec ul li{ float:left; } 
	.login-sec{ margin-top:0px; }
	.xtraLogo img{ width:50%; }
	.xtraLogo a{ margin-left:0; }
	.signup-form .btn-group{ display:block; padding-top:15px; }
	.seclast h3{ text-align:left; }
	.social-sec{ float:left; }
	.xtraLogo{ text-align:left; }
	.navbar-wrapper .navbar{ padding:0; }
}
@media (min-width:667px) and (max-width:736px){
	.login-signBlock .form-group label{ width:27%; } 
	.login-signBlock .input-group{ width:69%; }
	#uploadFile.form-control{ width:47%; } 
}
@media (min-width:481px) and (max-width:667px){
	.carousel-inner > .item > img{ height:auto; }
	.carousel{ height:auto; }
	.carousel .item{ height:auto; }
	.login-sec ul{ margin-bottom:0; float:right; }
	.carousel-indicators{ bottom:25%; }
	.premium-caption h3{ font-size:18px; } 
	.premium-caption a{ font-size:16px; }
	.event-info{ top:0; }
	.event-info h3{ font-size:24px; } 
	.event-info h1{ font-size:30px; }
	.event-info p{ margin-top:40px; }
	.eventbanner{ margin-bottom:12px; }
	.bannerCaption{ top:12px; }
	.bannerCaption h2{ font-size:16px; }
	.bannerCaption h3{ font-size:16px; }
	.bannerCaption h1{ font-size:18px; }
	.bannerCaption h4{ font-size:18px; }
	.gm-title .col-lg-4{ width:44%; float:left; }
	.gm-title .col-lg-8{ width:56%; float:left; margin-top:20px; } 
	.login-signBlock .form-group label{ width:27%; } 
	.login-signBlock .input-group{ width:69%; }
	.carousel-caption{ bottom:50px; }
	#uploadFile.form-control{ width:47%; }
	.login-sec .befor-login{ margin-top:-20px !important; }
}

@media (min-width:415px) and (max-width:480px){
	.carousel-inner > .item > img{ height:auto; }
	.carousel{ height:auto; }
	.carousel .item{ height:auto; }
	.login-sec ul{ margin-bottom:0; float:right; }
	.carousel-indicators{ bottom:25%; }
	.event-info h3{ font-size:18px; margin-top:6px; }
	.event-info h3 span{ font-size:14px; } 
	.event-info{ top:0; }
	.event-info img{ width:46px; }
	.event-info h1{ font-size:20px; }
	.event-info p{ margin-top:30px; }
	.event-info p a{ font-size:14px; padding:3px 15px; }
	.eventbanner{ margin-bottom:12px; }
	.thumb-info h3{ font-size:20px; }
	.thumb-info h4{ font-size:18px; }
	.body-middle h2{ font-size:18px; }
	.premium-caption h3{ font-size:18px; }
	.premium-caption a{ font-size:16px; }
	.bannerCaption{ top:0; } 
	.bannerCaption h3 { color: #ffffff; font-size: 16px; margin-top: 5px; margin-bottom:3px; }
	.bannerCaption h1{ margin-bottom:5px; font-size:18px; }
	.bannerCaption h4{ font-size:18px; margin-top:10px; }
	.gm-title .col-lg-4{ width:44%; float:left; }
	.gm-title .col-lg-8{ width:56%; float:left; margin-top:20px; }
	.fileUpload{ width:30%; } 
	#uploadFile.form-control{ width:67%; }
	.carousel-caption{ display:none; }
}
@media (min-width:376px) and (max-width:414px){
	.carousel-caption{ display:none; }
	.carousel-inner > .item > img{ height:auto; }
	.carousel{ height:auto; }
	.carousel .item{ height:auto; }
	.login-sec ul{ margin-bottom:0; float:right; }
	.event-info h3{ font-size:14px; margin-top:6px; }
	.event-info h3 span{ font-size:14px; } 
	.event-info{ top:0; }
	.event-info img{ width:46px; }
	.event-info h1{ font-size:16px; }
	.event-info p{ margin-top:12px; }
	.event-info p a{ font-size:14px; padding:3px 15px; }
	.eventbanner{ margin-bottom:12px; }
	.thumb-info h3{ font-size:16px; }
	.thumb-info h4{ font-size:14px; }
	.body-middle h2{ font-size:16px; }
	.premium-caption h3{ font-size:18px; }
	.premium-caption a{ font-size:16px; }
	.bannerCaption{ top:0; }
	.innerBanner{ margin-bottom:50px; }
	.bannerCaption{ top:0; }
	.bannerCaption h3{ font-size:18px; margin-bottom:2px; margin-top:5px; }
	.bannerCaption h1{ font-size:18px; }
	.bannerCaption h4{ font-size:18px; margin-top:2px; }
	.gm-title{ padding-bottom:5px; text-align:center; height:auto; }
	.gm-title h2{ text-align:center; }
}
@media (max-width:375px) {
  .carousel { height:auto; }
  .carousel .item { height:auto; } 
  .event-info h3 { font-size:14px; margin-top:6px; }
  .event-info h3 span { font-size:14px; } 
  .event-info { top:0; }
  .event-info img { width:46px; }
  .event-info h1 { font-size:16px; }
  .event-info p { margin-top:12px; }
  .event-info p a { font-size:14px; padding:3px 15px; }
  .eventbanner { margin-bottom:12px; }
  .thumb-info h3 { font-size:16px; }
  .thumb-info h4 { font-size:14px; }
  .body-middle h2 { font-size:16px; }
  .premium-caption h3 { font-size:18px; }
  .premium-caption a { font-size:16px; }
  .body-middle .bannerCaption h2 { font-size:14px; margin-top:5px; }
  .bannerCaption img { width:45px; }
  .innerBanner { margin-bottom:50px; }
  .bannerCaption { top:0; }
  .bannerCaption h3 { font-size:14px; margin-bottom:2px; margin-top:3px; }
  .bannerCaption h1 { font-size:14px; font-weight:500; margin-top:0; }
  .bannerCaption h4 { font-size:14px; margin-top:2px; font-weight:500; }
  .gm-title { padding-bottom:5px; text-align:center; height:auto; }
  .gm-title h2 { text-align:center; }
  .fileUpload { width:30%; }
  #uploadFile.form-control{ width:65%; }
  .xtraLogo img{ width:80%; }
  .carousel-caption{ display:none; }
  .carousel-indicators{ display:none; }
}