#adminloader { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); position: fixed; top: 0; z-index: 9999; }
#adminloader .loader_sub_div { position: fixed; left: 0; top: 50%; text-align: center; width: 100%; transform: translateY(-50%); }
footer.main-footer { padding: 0px; }
button.btn.pull-left.btn-primary.btn-xl { margin: 0px 1px; }
.button .active_button, .button .deactive_button { text-align: center; padding: 10px 0; }
.totalall { padding: 10px 0; color: #ff5000; text-align: center; }
.button .active_button a, .button .deactive_button a { border:1px solid #3c8dbc; border-radius: 5px; background-color: #3c8dbc; padding: 5px; color: #000; }
.searchcountry .add-on-for-search { padding: 0; }
.searchcountry .add-on-for-search { background: #333333; border-color: #444444; border-radius: 4px !important; color: #000; }
.searchcountry .add-on-for-search #searchcountry::-webkit-input-placeholder { color: #210; }
.searchcountry .add-on-for-search #searchcountry { color: #000; background-color: #3c8dbc; width: 100%; height: 100%; border: none; padding: 3px; }
.searchcountry .add-on-for-search .form-control-feedback { color: #000; }
.searchstate .add-on-for-search { padding: 0; }
.searchstate .add-on-for-search { background: #333333; border-color: #444444; border-radius: 4px !important; color: #000; }
section.content form .alert-danger { color: #a94442 !important; background-color: #f2dede !important; border-color: #ebccd1 !important; padding: 7px; margin-bottom: 10px; font-weight: 500; }
.searchstate .add-on-for-search #searchstate::-webkit-input-placeholder { color: #210; }
.searchstate .add-on-for-search #searchstate {color: #000; background-color: #3c8dbc; width: 100%; height: 100%; border: none; padding: 3px; }
.searchstate .add-on-for-search .form-control-feedback { color: #000; }
a.edittotalbalance,a.edittotalfees { color: #ff5000; cursor: pointer; }
.searchcountry_div { position: absolute; width: 100%; }
.searchstate_div { position: absolute; width: 100%; }
.searchcountry_list { position: relative; z-index: 9; margin: 4px 0 0 11%; padding: 0px 135px 0 59px; }
.searchcountry_list .country_list { padding:0px;  }
.searchstate_list { position: relative; z-index: 9; margin: 4px 20% 0 0%; padding: 0px 137px 0 59px; float: right; width: 33.5%; }
.searchstate_list .state_list { padding:0px; }
.searchcountry_list .country_list div.country-name { width: 84% !important; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: left !important; display: inline-block; }
.searchstate_list .state_list div.state-name { width: 84% !important; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: left !important; display: inline-block; }
.admin_map_th { }
.admin_map_th .slider.round { float: right; font-size: 15px; width: 90px; border: 1px solid #008000; }
.admin_map_th input { float: right; display: none; }
.admin_map_th input:checked + .slider:before { margin-right: 16px; margin-left: 0; content: "Default"; -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); background-color: #3c8dbc; display: inline-block; position: relative; left: -25px; top: 0px; }
.admin_map_th input:checked + .slider.round { border: 1px solid #3c8dbc; }
.admin_map_th .slider.round:before { border-radius: 18px; content: "Custom"; height: 30px; width: 55px; margin-left: 32px; padding: 3px; background-color: #008000; }
.admin_map_th .switch { height: 25px; }
.country_list { height: 200px; overflow-y: auto; }
.country_list li { padding: 4px 7px; list-style: none; background-color: #3e8dbc; font-weight: 700; color: #000; }
.country_list .slider { float: right; font-size: 1px; }
.country_list li input { float: right; display: none; }
.state_list { height: 200px; overflow-y: auto;    }
.state_list li { padding: 4px 7px; list-style: none; background-color: #3e8dbc; font-weight: 700; color: #000; }
.state_list .slider { float: right; font-size: 1px; }
.state_list li input { float: right; display: none; }
.switch { position: relative; display: inline-block; width: 34px; height: 22px; float: right; }
.country_list li input:checked + .slider:before { margin-right: 16px; margin-left: 0; content: " "; -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); background-color: #ed2302; display: inline-block; position: relative; left: -26px; top: 0px; }
.state_list li input:checked + .slider:before { margin-right: 16px; margin-left: 0; content: " "; -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); background-color: #ed2302; display: inline-block; position: relative; left: -26px; top: 0px; }
.slider.round:before { border-radius: 50%; padding: 0px; }
.slider:before { margin-left: 16px; content: " "; height: 15px; width: 15px; left: 0px; bottom: 1px; background-color: #ddd; color: #fff; display: inherit; }
.slider.round { border-radius: 34px; border: 1px solid #ddd; }
.country_list li input:checked + .slider.round { border: 1px solid #ed2302; }
.state_list li input:checked + .slider.round { border: 1px solid #ed2302; }
.slider { cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: transparent; -webkit-transition: .4s; transition: .4s; }
.myCheckbox input { visibility:hidden; position: absolute; z-index: -9999; }
.myCheckbox span { width: 15px; height: 15px; display: block; background: red; border-radius:4px; }
.myCheckbox input:checked + span { background: green; }
.cover_page_top_div .switch, .banner_page .switch, .switch.common_switch { width: auto; float: none; vertical-align: middle; }
.cover_page_top_div .slider.round, .banner_page .slider.round, .switch.common_switch .slider.round { float: right; font-size: 15px; /* width: 90px; */ width: 65px; border: 1px solid #008000; }
.cover_page_top_div input, .banner_page input, .switch.common_switch input { float: right; display: none; }
.cover_page_top_div input:checked + .slider:before ,.banner_page input:checked + .slider:before, .switch.common_switch input:checked + .slider:before  { /* content: "Enable"; */ content: "On"; margin-right: 16px; margin-left: 0; -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); background-color: #008000; display: inline-block; position: relative; left: -25px; top: 0px; }
.cover_page_top_div input:checked + .slider.round ,.banner_page input:checked + .slider.round, .switch.common_switch input:checked + .slider.round  { border: 1px solid #3c8dbc; }
.cover_page_top_div .slider.round:before , .banner_page .slider.round:before, .switch.common_switch .slider.round:before { /* content: "Disable"; */ content: "Off"; border-radius: 18px; height: 30px; /* width: 55px; */ width: 32px; margin-left: 32px; padding: 3px; background-color: #ff0000; }
.cover_page_top_div .switch , .banner_page .switch, .switch.common_switch { height: 25px; }
form.live_lobby_fees_point { padding: 15px 22px; }
form.live_lobby_fees_point table tbody tr { border: 1px solid transparent; line-height: 2.6; }
.wid_45 { width: 45%; float: left; }
.wid_10 { width: 10%; float: left; padding: 6px; }
form .progress-sm { margin: 10px 0px; }
.padd0 { padding:0; }
form.add_ads .form-group.padd0 { padding:0; }
.select2-container--default .select2-selection--multiple li.select2-selection__choice { background-color: #3e8dbc; border: 1px solid #fff; }
.select2-container--default .select2-selection--multiple li .select2-selection__choice__remove { color: #fff; }

.cntnr { display: block; position: relative; padding-left: 35px; margin-bottom: 12px; cursor: pointer; font-size: 22px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.cntnr input {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }
.chckmrk { position: absolute; top: 0; left: 0; height: 25px; width: 25px; background-color: #eee; }
.cntnr:hover input ~ .chckmrk { background-color: #ccc; }
.cntnr input:checked ~ .chckmrk { background-color: #2196F3; }
.chckmrk:after { content: ""; position: absolute; display: none; }
.cntnr input:checked ~ .chckmrk:after { display: block; }
.cntnr .chckmrk:after { left: 9px; top: 5px; width: 28%; height: 51%; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.ads_master .select2-container--default .select2-selection--single { height: 34px; }
.ordrs .icn {  }
.ordrs .icn .icn_act_ordr { display: inline; padding: 2px 4px; }
.admins-calendar #calendar .fc-title .act_icon a { color: #fff; cursor: pointer; }
.tooltip_eve_calendar { position:absolute; z-index:10001; word-break: break-all;  border-radius: 4px; padding: 4px; }
/*.tooltip_eve_calendar .eve_cal_title { padding-bottom: 3px; }*/
/*.tooltip_eve_calendar .eve_cal_desc { padding: 3px; }*/
/*.tooltip_eve_calendar .made_by_proplayer { padding: 0 2px 0 0px; }*/
.tooltip_eve_calendar .made_by_proplayer img { background-color: #fff; }
.eve_bg_color .cntnr .chckmrk, .cal_event_form .select_only_date .cntnr .chckmrk { height: 20px; width: 20px; border: 1px solid #efc2ae; }
.eve_bg_color .cntnr, .select_only_date .cntnr { padding-left: 25px; }
.eve_bg_color .cntnr .chckmrk:after, .cal_event_form .select_only_date .cntnr .chckmrk:after { left: 7px; top: 3px; }
#calendar a.fc-event.fc-start, .tooltip_eve_calendar { -webkit-animation: event_background_animation 2s ease infinite;  -moz-animation: event_background_animation 2s ease infinite;  animation: event_background_animation 2s ease infinite; }
@-webkit-keyframes event_background_animation { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} }
@-moz-keyframes event_background_animation { 0%{background-position:0% 50%} 50% {background-position:100% 50%} 100%{background-position:0% 50%} }
@keyframes event_background_animation { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} }

.tooltip_eve_calendar .made_by_proplayer img { background-color: #fff; }
.tooltip_eve_calendar .ticket_info { border: 1px solid #ff5000; }
.tooltip_eve_calendar .ticket_info .profile_img { max-width: 150px; text-align: center; margin: 0 auto; background-color: #ff5000; padding: 7px; }
.tooltip_eve_calendar .ticket_info .profile_img img { border-radius: 50%; height: 100px; overflow: hidden; width: 100px; border: 1px solid #8c817d; padding: 3px; background-color: #fff; }
.tooltip_eve_calendar .ticket_info .acc_info { color: #ff5000; text-align: center; }

.cal_event_form .select_only_date .cntnr { font-size: inherit; }
.cal_event_form .select_only_date .onlydate {  }
.admin_eventcalendar { position: relative; }
.admin_eventcalendar .key_shw_div { background-color: #fff; z-index: 9; }
.admin_eventcalendar .key_shw_div .event_image { max-width: 100%; height: auto; padding-right: 7px; }
.admin_eventcalendar .key_shw_div .event_image img { width: 50px; height: auto; }
.admin_eventcalendar .key_shw_div ul { margin: 0; padding: 0; }
.admin_eventcalendar .key_shw_div ul li { list-style: none; }
.admin_eventcalendar .key_shw_div { position: absolute; bottom: 0; left: 0; border: 2px solid #ff5000; color: #ff5000; padding: 7px 12px; border-radius: 4px; font-size: 40px; }
.cal_event_form .img_div { max-width: 100px; height: auto; border: 1px solid #ff5000; margin: 6px 0 0; }
.fc-past{ background-color: grey; }
.product_is_customizable .switch.common_switch { width: auto; float: none; vertical-align: middle; }
.product_is_customizable .switch.common_switch .slider.round { float: right; font-size: 14px; width: 50px; border: 1px solid #008000; }
.product_is_customizable .switch.common_switch input { float: right; display: none; }
.product_is_customizable .switch.common_switch input:checked + .slider:before  { content: "On"; margin-right: 16px; margin-left: 0; -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); background-color: #008000; display: inline-block; position: relative; left: -25px; top: 0px; }
.product_is_customizable .switch.common_switch input:checked + .slider.round  { border: 1px solid #3c8dbc; }
.product_is_customizable .switch.common_switch .slider.round:before { content: "Off"; border-radius: 18px; height: 22px; width: 22px; margin-left: 25px; padding: 0px; background-color: #ff0000; }
.product_is_customizable .switch.common_switch { height: 25px; }
.product_customize_adminside { position: relative; padding-bottom: 15px; padding-top: 15px; }
.product_customize_adminside .product_is_customizable_opt_div { width: 80%; border: 1px solid #d2d6de; padding: 14px; margin-top: 10px; z-index: 1; background-color: #fff; }
/*.example_row_reorder.display tbody tr td:first-child { cursor: move; }*/
/*.example_row_reorder.display tbody tr.dt-rowReorder-moving { box-shadow: 0px 0px 100px 3px #26353c; padding: 10px 0; z-index: 1; background-color: #fff;  }*/
.content form .optdata_div {  display: flex; align-items: center; margin: 0 auto; padding: 10px 0px; }
.content form .optdata_div label.drag { cursor: move; }
div .optdata_div.is_draggable.ui-sortable-helper { box-shadow: 0px 0px 100px 3px #26353c; padding: 10px 0; z-index: 1; background-color: #fff; outline: 1px solid; }
/*.optdata_div.is_draggable.ui-draggable-dragging { z-index: 1; background-color: #fff;  }*/