/* =Import Required styles

========================================================================================*/

@import url(normalize.css);

@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);



/* =Box Sizing 

========================================================================================*/

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; }

*:before, *:after { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; }

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], textarea, select, input[type="button"], input[type="submit"], button { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;  }





/* =Deafult Tag & General Classes

========================================================================================*/

html, body { -webkit-font-smoothing:antialiased; -moz-font-smoothing:antialiased; -ms-font-smoothing:antialiased; font-smoothing:antialiased; /* Fix for webkit rendering */ -webkit-text-size-adjust:100%; }

body { font:14px/1.6 'Poppins', Arial, Helvetica, sans-serif; color:#1a1a1a; font-weight:400; overflow-x:hidden; overflow-x:hidden; }

body.pace-running { overflow:hidden; }

img { vertical-align:top; border:0; }

a, input[type="button"], input[type="submit"], button, table th, table td { -moz-transition:background-color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -webkit-transition:background-color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -o-transition:background-color 0.2s ease-in, color 0.2s ease-in; -ms-transition:background-color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); transition:background-color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); }

.allanim, .work-thumbs .hide,#header.navhide #logo, #header.navhide #mainmenu, #mainmenu, #header, .header-social li a, .header-top-left li:before, #mainmenu li a:after  { -moz-transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -webkit-transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -o-transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -ms-transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); }

a { color:#cc0000; text-decoration:none;}

a:hover { text-decoration:underline; }

@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {

	a:active{ background-color:transparent;}

}

strong { font-weight:bold; }

small, .small { font-size:85%; }

sub, sup { font-size:80% }

p { margin:0 0 20px 0; }

h1,h2, h3, h4, h5, h6 { line-height:1.3; margin:0 0 10px; font-weight:500; }

h1,h2 { font-size:70px; }

.defaultpage h1, .defaultpage h2 { font-size:44px; }

h3 { font-size:60px; }

.defaultpage h3 { font-size:38px; }

h4 { font-size:30px; }

h5 { font-size:24px; }

h6 { font-size:16px; }



ul li { line-height:24px; }



.cf:before, .cf:after,.wrap:after,.wrap:before { content:""; display:table; }

.cf:after,.wrap:after { clear:both; }

.cf,.wrap { zoom:1; }

.nodisplay { display:none; }

.nodisplay_strict { display:none !important; }

.alignleft { float:left; }

.alignright { float:right; }

.txtcenter { text-align:center; }

:focus { outline:none; }

.text_cont p { padding:0 0 10px 0; }

.nopad p, p.nopad { padding:0; }



.cols { *zoom:1; margin-left:-20px; margin-right:-20px; clear:both; }

.cols:after {content:""; display:table; clear:both; }

.cols .col { float:left; min-height:1px; padding-left:20px; padding-right:20px; }

.cols1 .col { width:100% }

.cols2 .col { width:50% }

.cols3 .col { width:33.333333333333%; }

.cols4 .col { width:25%; }



/* =Blockquote & highlight

========================================================================================*/

blockquote { border-left:solid 2px #cd0a10; margin:30px 0; font-weight:500; color:#cd0a10; text-transform:uppercase; line-height:1.5; padding-left:15px; }

blockquote small { font-size:85%; display:block; color:#999; padding:5px 0 0 0; font-style:italic; }

.highlight, mark { background:#fffd64; }



/* =Text Size, color & Custom list style

========================================================================================*/

.text-bigger { font-size:22px;  }

.text-big { font-size:20px; }

.text-small { font-size:12px; }

.text-muted { color:#777; }

.text-primary { color:#cc0000; }

.text-secondary { color:#1a1a1a; }



.bg-muted { background:#777; }

.bg-primary { background:#e34f26; }

.bg-secondary { background:#7979a9; }



.text-lc { text-transform:lowercase; }

.text-uc { text-transform:uppercase; }



.has-show { display:block !important; }

.has-hide { display:none !important; }



.has-error { padding:8px 0 0; display:block; color:#f34834; }

input.has-error { border:solid 1px #f34834 !important;  }



.tall-space { margin:45px 0; }

.medium-space { margin:20px 0; }



.custom-arrow-list { margin:0; padding:22px 30px; list-style:none; }

.custom-arrow-list li { position:relative; padding-left:20px; }

.custom-arrow-list li:before { content:''; border:solid 1px #1a1a1a; border-left:0; border-top:0; position:absolute; left:1px; top:10px; -webkit-transform:rotate(-45deg); transform:rotate(-45deg); width:8px; height:8px; }

.custom-arrow-list.darkbglisting li:before { border-color:#fff; }



/* =Divider Width

========================================================================================*/

hr { border:0; border-bottom:solid 1px #e1e1e1; margin:20px 0; position:relative; width:100%; }

hr:before { background:#888; bottom:0; content:""; display:block; height:1px; left:0; right:0; margin:0 auto; top:0; position:absolute; width:40px; }

.dashed-border { border-bottom-style:dashed }

.dotted-border { border-bottom-style:dotted; }

.double-border { border-bottom-style:double; border-bottom-width:3px; }

.double-border:before { height:3px; }



/* =Drop Caps

========================================================================================*/

p.drop-caps:first-child:first-letter { float:left; font-size:75px; line-height:60px; padding:4px; margin-right:5px; margin-top:5px; font-family:Georgia; }

p.drop-caps.secundary:first-child:first-letter { background-color:#cd0a10; color:#fff; padding:6px; margin-right:11px; border-radius:4px; }



/* =Image Caps

========================================================================================*/

.image-block { padding:25px 0;  }

.image-block:after { display:table; clear:both; content:''; }

.image-block figure { width:33.33333%; float:left; position:relative; border:solid 1px #e5e5e5; padding:5px; background:#fff; margin:0 20px 10px 0; }

.image-block figure img { width:100%; height:auto; }

.image-block.right-align figure { float:right; margin:0 0 10px 20px;  }

.image-block figcaption { display:block; font-weight:700; position:absolute; left:5px; right:5px; bottom:5px; margin:0 auto; background:rgba(0,0,0,0.40); padding:13px 10px; color:#fff; text-align:center; line-height:1.25; }

.image-block h3 { margin-bottom:20px; }



/* =Section Caps

========================================================================================*/

.section-block { padding:25px 0; background:#fff; }



/* =Layout Width

========================================================================================*/

#wrapper {  }

.wrap { max-width:1660px; width:100%; margin:0 auto; padding-left:30px; padding-right:30px; }



#main { padding:0; background:#fff; position:relative; z-index:2; }

.servicepage #main { padding:60px 0; }

#primary { float:left; width:75%; padding-right:60px; }

#sidebar { float:right; width:25%; background:#1a1a1a; color:#fff; }



.one-column { width:auto !important; float:none !important; padding:0 !important; }

.col30 { width:30%; }

.col40 { width:40%; }

.col50 { width:50%; }

.col60 { width:60%; }

.col70 { width:70%; }

.sectionpadding { position:relative; padding:140px 0; z-index:1; }



/* =Common-Page (common classes for all pages)

========================================================================================*/

#header { position:fixed; width:100%; top:0; padding:18px 0; z-index:99; }

#header.navhide { top:-80px; background-color:#252525; }

#header.navhide #logo { width:150px; }

#logo .logowhite, #logo .logocolor { -webkit-transition:0.3s all ease-in-out 0s; transition:0.3s all ease-in-out 0s; }

#logo .logocolor { position:absolute; left:0; top:0; opacity:0; visibility:hidden; }

#header.navhide #mainmenu { margin:12px 0 0; }

#header.navhide #logo .logowhite { opacity:0; visibility:hidden; }

#header.navhide #logo .logocolor { opacity:1; visibility:visible; }

.header-top { padding:5px 0 20px; border-bottom:rgba(255,255,255,0.4) solid 1px; margin:0 0 20px; }

.header-top-left { float:left; }

.header-top-right { float:right; }

.header-top-left ul, .header-top-right ul { margin:0; padding:0; list-style:none; }

/*.header-top-left ul:after, .header-top-right ul:after { content:''; display:table; clear:both; }*/

.header-top-left ul li, .header-top-right ul li { display:inline-block; vertical-align:middle; }

.header-top-left ul li { margin:0 30px 0 0; }

.header-top-left ul li:last-child { margin:0; }

.header-top-left li:before { content:''; display:inline-block; vertical-align:middle; position:relative; top:-2px; width:34px; height:34px; background:url(../images/bgi/sprites.png) no-repeat 0 0; border:#fff solid 1px; border-radius:50%; margin:0 10px 0 0; }

.header-top-left li.phone:before { background-position:-1px -1px; }

.header-top-left li.mail:before { background-position:-36px 0; }

.header-top-left li.phone:hover:before { background-position:-1px -36px; }

.header-top-left li.mail:hover:before { background-position:-36px -36px; }

.header-top-left li a { color:#fff; }

.header-top-left li a:hover { text-decoration:none; }

.header-social li { margin:0 10px 0 0; }

.header-social li:last-child { margin:0; }

.header-social li a { display:block; background:url(../images/bgi/sprites.png) no-repeat 0 0; width:34px; height:34px; border:#fff solid 1px; border-radius:50%; text-indent:-999em; }

.header-social li a:hover { background-color:#fff; }

.header-social li.fb a { background-position:-71px -1px; }

.header-social li.tw a { background-position:-106px -1px; }

.header-social li.li a { background-position:-141px -1px; }

.header-social li.yt a { background-position:-176px -1px; }



.header-social li.fb a:hover { background-position:-71px -36px; }

.header-social li.tw a:hover { background-position:-106px -36px; }

.header-social li.li a:hover { background-position:-141px -36px; }

.header-social li.yt a:hover { background-position:-176px -36px; }



#logo { float:left; width:170px; position:relative; }

#logo img { max-width:100%; height:auto; width:auto; }



#mainmenu {  float:right; font-size:14px; margin:18px 0 0; }

#mainmenu ul { margin:0; padding:0; list-style:none; }

#mainmenu li { float:left; line-height:30px; }

#mainmenu > ul > li { margin:0 0 0 50px; text-transform:capitalize; position:relative; }

#mainmenu li a { text-decoration:none; padding:0; display:block; color:#fff; position:relative; font-weight:400; overflow:hidden; }

#mainmenu li a span { position:relative; display:inline-block; -webkit-transition:transform 0.3s; transition:transform 0.3s; }

#mainmenu li a span:hover, #mainmenu li.current a span { -webkit-transform:translateY(-100%); -moz-transform:translateY(-100%); transform:translateY(-100%); }

#mainmenu li a span:before, #mainmenu li.current a span:before { position:absolute; top:100%; content:attr(data-hover); -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); transform:translate3d(0,0,0); }

#mainmenu li a.button.bgdarkbtn:hover { color:#1a1a1a; }

#mainmenu li.rqbutton { margin:-7px 0 0 50px; }

#mainmenu li.rqbutton a { padding:13px 30px; }

#mainmenu li.rqbutton a:after { display:none; }

#mainmenu li ul { display:none; position:absolute; top:100%; background:#1a1a1a; width:260px; padding:14px 20px; }

#mainmenu li.aboutmenu ul { width:180px; }

#mainmenu > ul > li.hasnav:before { content:''; border:solid 1px #fff; border-left:0; border-top:0; position:absolute; right:-10px; top:11px; -webkit-transform:rotate(45deg); transform:rotate(45deg); width:6px; height:6px; -webkit-transition:0.2s all ease-in-out 0s; transition:0.2s all ease-in-out 0s; }

#mainmenu > ul > li.hasnav.current:before { top:14px; -webkit-transform:rotate(-135deg); transform:rotate(-135deg); }

#mainmenu > ul > li.hasnav > a { padding-bottom:5px; }

#mainmenu li ul li { float:none; margin:0 0 5px; }

#mainmenu li ul li a { -webkit-transition:0.1s all ease-in 0s; transition:0.2s all ease-in 0s; }

#mainmenu li ul li a:hover { -webkit-transform:translateX(5px); transform:translateX(5px); }

#mainmenu li ul li:last-child { margin:0; }

.navtrigger { display:none; }



.banner { background:url(../images/bgi/banner.jpg) no-repeat center center; background-size:cover; height:600px; position:relative; }

.main-title { position:relative; }

.main-title:after { content:''; display:inline-block; vertical-align:middle; height:100%; }

.main-title h1:after { content:''; display:block; margin:15px auto 0; background:#cd0a10; width:100px; height:5px; }

.main-title { display:block; text-transform:capitalize; text-align:center; vertical-align:middle; height:100%; }

.banner-title { color:#fff; font-weight:600; z-index:1; position:relative; font-size:70px; text-align:center; display:inline-block; vertical-align:middle; margin-top:60px; letter-spacing:0.02em; padding:0 15px; }



.sectiontitle { margin:0 0 70px; }

.secsmalltitle { font-size:40px; margin:0 0 30px; }

.secsubtitle { display:block; font-size:24px; }

.darkbg { background:#1a1a1a; color:#fff; }



.darkbg .sectiontitle, .darkbg .secsubtitle { color:#fff; }



.contactbar { background:#cd0a10; padding:50px 0; }

.contactbar .connectcontent { float:left; font-weight:500; color:#fff; font-size:24px; }

.contactbar .button { float:right; }



.contentblockwrapper { font-size:0; }

.sectionimg figure { margin:0; width:100%; height:100%; background-size:cover; background-position:center center; }

.sectionimg img { height:100%; opacity:0; }

.homepage figure.sectionimg img { opacity:1; }

.homepage .sectionimg { margin:0; }

.sectionimgleft { left:0; }

.sectionimgright { right:0; }

.sectionimg, .contentblock { display:inline-block; vertical-align:middle; }

.contentblock { padding:30px 50px; font-size:14px; }

.servicepage .contentblock { padding:0; }



.listbreakerwrap { font-size:15px; margin:0 0 30px; }

.listbreakerwrap p:last-child { margin:0; }

.listbreakerwrap .listbreaker { display:block; font-weight:600; font-size:20px; line-height:2; }



.contentmodule { margin:0 0 30px; }

.innertitle { font-size:28px; text-transform:uppercase; margin:0 0 20px; font-weight:600; }

.innertitle:after { content:''; display:block; background:#ce1c00; width:50px; height:3px; margin:6px 0 0; }



.buttonset { display:block; text-align:center; margin:80px 0 0; }



#sidebar .sidebar-title { background:#cc0000; color:#fff; text-transform:uppercase; font-size:24px; font-weight:600; padding:18px 32px; }

#sidebar .custom-arrow-list li:last-child { padding-left:0; }

#sidebar .custom-arrow-list li:before { border-color:#6b6b6b; top:11px; -webkit-transition:0.2s all ease-in-out; transition:0.2s all ease-in-out; }

#sidebar .custom-arrow-list li.active:before, #sidebar .custom-arrow-list li:hover:before { border-color:#fff; }

#sidebar .custom-arrow-list li:last-child:before { display:none; }

.sidebarmenu li a { font-size:17px; font-weight:500; color:#6b6b6b; }

.sidebarmenu li:last-child { margin:20px 0 10px; }

.sidebarmenu li:last-child a { font-size:15px; color:#fff; font-weight:normal; }

.sidebarmenu li.active a, .sidebarmenu li a:hover { color:#fff; text-decoration:none; }



.sticky { position:-webkit-sticky; position:sticky; top:120px; }



.contentblock .custom-arrow-list { padding:0; }

#particles { height:100%; width:25%; opacity:0.1; }



#footer { background:#1a1a1a; font-size:14px; color:#fff; position:fixed; bottom:0; width:100%; z-index:-1; }

#footer a { color:#fff; }

#footer a:hover { text-decoration:none; }

#footer .wrap { max-width:1200px; }

.footer-top { padding:80px; }

.footer-top .col:first-child { padding-right:0; }

.footer-top .col:nth-child(2), .footer-top .col:nth-child(3) { padding-left:40px; }

#footer ul { list-style:none; margin:0; padding:0; }

.addressindia h3, .addressusa h3, .fmenulinks h3 { color:#fff; text-transform:uppercase; font-weight:600; font-size:20px; margin:0 0 22px; }

.addressindia h3:before, .addressusa h3:before { content:''; display:inline-block; background:url(../images/bgi/sprites.png) no-repeat 0 0; vertical-align:middle; position:relative; top:-2px; margin:0 9px 0 0; width:26px; height:18px; }

.addressindia h3:before { background-position:-102px -99px; }

.addressusa h3:before { background-position:-129px -98px; }

.addressindia li, .addressusa li { margin:0 0 20px; position:relative; padding:0 0 0 36px; }

.addressindia li:last-child, .addressusa li:last-child { margin-bottom:0; }

.addressindia li:before, .addressusa li:before { content:''; position:absolute; left:0; top:0; background:url(../images/bgi/sprites.png) no-repeat 0 0; width:21px; height:28px; }

.addressindia li.faddress:before, .addressusa li.faddress:before { background-position:-102px -70px; }

.addressindia li.fphone:before, .addressusa li.fphone:before { background-position:-124px -70px; }

.addressindia li.fmail:before, .addressusa li.fmail:before { background-position:-146px -70px; }

.fmenu li { margin:0 0 4px; }

.fmenu li a { position:relative; display:inline-block; z-index:1; }

.fmenu li a:before { content:''; position:absolute; left:0; right:0; bottom:0; background:#cd0a10; width:100%; height:0; z-index:-1; transition:0.3s height ease-in-out 0s; }

.fmenu li a:hover:before { height:100%;}

.copyright { margin:0; color:#838b8c; padding:40px 0; text-align:center; border-top:#323334 solid 1px; }



/* =Form Style

========================================================================================*/

button, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], input[type="file"], textarea, select, input[type="submit"], input[type="button"] { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle;   }

button, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], textarea, input[type="submit"], input[type="button"] { -webkit-appearance:none; -webkit-border-radius:0;  border-radius:0; }

button, input { line-height:normal; }



input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], input[type="file"], textarea, select { background:transparent; height:55px; line-height:1; color:#444; width:100%; font-family:'Poppins', Arial, Helvetica, sans-serif; -moz-transition:border-color 200ms ease-in; -webkit-transition:border-color 200ms ease-in; transition:border-color 200ms ease-in; border:0; border-bottom:solid 1px #d7d9dd; position:relative; z-index:1; padding:13px 0 10px; font-weight:400; }



input[type="text"].input-lg, input[type="password"].input-lg, input[type="email"].input-lg, input[type="tel"].input-lg, input[type="search"].input-lg, input[type="url"].input-lg { height:58px; }

input[type="text"].input-sm, input[type="password"].input-sm, input[type="email"].input-sm, input[type="tel"].input-sm, input[type="search"].input-sm, input[type="url"].input-sm { height:38px; }

textarea { width:100%; height:160px; overflow:auto; resize:vertical; font-family:'Poppins', Arial, Helvetica, sans-serif; }

select { height:auto; padding:12px 42px 12px 0; font-size:14px; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; appearance:none; position:relative; z-index:1; background:none; line-height:1.25; border-radius:0; }

select:focus { color:#1a1a1a; }

select::-ms-expand { display:none; }

.custom-select { display:block; margin:0; position:relative; background:#fff; }

.custom-select:before { position:absolute; right:1px; top:1px; width:48px; background:#fff; content:''; height:48px; }

.custom-select:after { content:''; border-top:solid 6px #848690; border-right:solid 6px transparent; border-left:solid 6px transparent; position:absolute; right:18px; top:50%; margin-top:-3px; }

.ie select { padding-right:0; }

.ie .custom-select:before { z-index:2; height:40px; }

.ie .custom-select:after { z-index:3; }

.ie input[type="text"], .ie input[type="password"], .ie input[type="email"], .ie input[type="tel"], .ie input[type="search"], .ie input[type="url"], .ie select { line-height:32px; }



input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="search"]:focus, input[type="url"]:focus, textarea:focus, select:focus

{ border-color:#1a1a1a; color:#1a1a1a; }

input::-moz-focus-inner, button::-moz-focus-inner {border:0; padding:0;}

input[type="button"], input[type="submit"], button { background:#cd0a10; color:#fff; border:0; border-radius:50px; font-size:14px; cursor:pointer; width:auto; overflow:visible; padding:13px 45px; vertical-align:middle; text-decoration:none; text-transform:uppercase; font-size:16px; line-height:1.25; font-family:'Poppins', Arial, Helvetica, sans-serif; font-weight:400; }

input[type="button"]:hover, input[type="submit"]:hover, button:hover { background:#1a1a1a; color:#fff; }

input[type="checkbox"], input[type="radio"] { margin:4px 8px 0 ; vertical-align:top;  }



::-webkit-input-placeholder { opacity:1; }

::-moz-placeholder { opacity:1; }

:-ms-input-placeholder { opacity:1; }

:-moz-placeholder { opacity:1; }



.checkbox, .radio { position:relative; float:left; margin-right:20px; }

.form-block .form-group .checkbox label, .form-block .form-group .radio label { padding:0; padding-left:26px; display:block; line-height:1.1; }

.checkbox input, .radio input { top:0; left:0; z-index:1; cursor:pointer; opacity:0; position:absolute; }

.checkbox input:checked + .input-helper:before, .radio input:checked + .input-helper:before { border-color:#cd0a10; }

.checkbox input:disabled + .input-helper:before, .radio input:disabled + .input-helper:before { opacity:0.35; }

.checkbox .input-helper:before, .radio .input-helper:before, .checkbox .input-helper:after, .radio .input-helper:after { position:absolute; content:""; transition:all 200ms; }

.checkbox .input-helper:before, .radio .input-helper:before { left:0; border:1px solid #7a7a7a; }

.checkbox input { width:18px; height:18px; margin:0; }

.checkbox input:checked + .input-helper:before { background-color:#cd0a10; }

.checkbox input:checked + .input-helper:before { background-color:#cd0a10; }

.checkbox input:checked + .input-helper:after { transform:scale(1); opacity:1; }

.checkbox .input-helper:before { top:0; width:18px; height:18px; border-radius:2px; color:#fff; }

.checkbox .input-helper:after { content:'\2713'; font-size:13px; left:2px; top:1px; font-weight:600; color:#fff; transform:scale(0); opacity:0; }

.radio input { width:18px; height:18px; margin:0; }

.radio input:checked + .input-helper:after { transform:scale(1); }

.radio .input-helper:before { top:0; width:18px; height:18px; border-radius:50%; }

.radio .input-helper:after { width:8px; height:8px; background:#cd0a10; border-radius:50%; top:5px; left:5px; transform:scale(0); }





/* =BreadCrumbs

========================================================================================*/

.breadcrumbs { padding:10px 0; background:#efeded; border-bottom:solid 1px #dedede; font-size:14px; color:#999; }

.breadcrumbs ul { display:inline; margin:0 0 0 5px; padding:0; }

.breadcrumbs li { display:inline-block; margin:0 0 0 20px; position:relative; }

.breadcrumbs li:before { content:''; border-left:solid 4px #999; border-bottom:solid 4px transparent; border-top:solid 4px transparent; width:0; height:0; display:inline-block; position:absolute; left:-14px; top:50%; margin-top:-4px; }

.breadcrumbs li a { color:#505061; text-decoration:none; }

.breadcrumbs li a:hover { color:#e34f26; }



/* =Form list

========================================================================================*/

.form-block { margin:10px 0; }

.form-group { padding:10px 0; position:relative; }

.getin-touch .form-group label { position:absolute; left:0; top:26px; font-size:16px; -webkit-transition:0.2s all ease-in-out 0s; transition:0.2s all ease-in-out 0s; color:#999; }

.getin-touch .form-group label.active { color:#1a1a1a; top:-7px; font-size:14px; }

.form-group:after { clear:both; content:''; display:table; }

.formlist .form-group ul { margin:0; padding:0; list-style:none; }

.forgot-link { float:right; }

.form-block .form-group label { display:inline-block; padding:0 0 5px;  }

.form-inline .form-group label { float:left; width:30%; padding:10px 10px 10px 0; line-height:1.5 }

.form-inline .form-group .field-box { width:70%; float:left; }





/* =Common button CSS

========================================================================================*/

.button { background-color:#cd0a10; text-transform:uppercase; font-size:14px; color:#fff; display:inline-block; line-height:1.2; padding:13px 30px; vertical-align:bottom; font-weight:400; border-radius:50px; }

.button.white { background-color:#fff; color:#cd0a10; }

.button.white:hover { background-color:#1a1a1a; color:#fff; }

.button.bgdarkbtn:hover { background-color:#fff; color:#1a1a1a; }

.button:hover { background-color:#1a1a1a; text-decoration:none; color:#fff; }

.button.btn-lg, input[type="submit"].btn-lg, input[type="button"].btn-lg, button.btn-lg { padding:16px 35px; font-size:18px; }

.button.btn-sm, input[type="submit"].btn-sm, input[type="button"].btn-sm, button.btn-sm { padding:10px 25px; font-size:12px; }

.button.btn-xs, input[type="submit"].btn-xs, input[type="button"].btn-xs, button.btn-xs { padding:8px 20px; font-size:10px; }

.button.btn-lightgray, input[type="submit"].btn-lightgray, input[type="button"].btn-lightgray, button.btn-lightgray { background:#969fb0; color:#fff; }

.button.btn-lightgray:hover, input[type="submit"].btn-lightgray:hover, input[type="button"].btn-lightgray:hover, button.btn-lightgray:hover { background:#757f90; }

.button.btn-secondary, input[type="submit"].btn-secondary, input[type="button"].btn-secondary, button.btn-secondary { background:#1a1a1a; color:#fff; }

.button.btn-secondary:hover, input[type="submit"].btn-secondary:hover, input[type="button"].btn-secondary:hover, button.btn-secondary:hover { background:#cd0a10; }

.button.btn-outline, input[type="submit"].btn-outline, input[type="button"].btn-outline, button.btn-outline { background:#fff; border:solid 2px #1a1a1a; color:#1a1a1a;  }

.button.btn-outline:hover, input[type="submit"].btn-outline:hover, input[type="button"].btn-outline:hover, button.btn-outline:hover { background:#1a1a1a; color:#fff; }



.button.btn-lg.btn-outline, input[type="submit"].btn-lg.btn-outline, input[type="button"].btn-lg.btn-outline {  padding:14px 35px;   }

.button.btn-outline, input[type="submit"].btn-outline, input[type="button"].btn-outline {  padding:11px 30px;   }

.button.btn-sm.btn-outline, input[type="submit"].btn-sm.btn-outline, input[type="button"].btn-sm.btn-outline {  padding:8px 25px;   }

.button.btn-xs.btn-outline, input[type="submit"].btn-xs.btn-outline, input[type="button"].btn-xs.btn-outline {  padding:6px 20px;   }



.button.btn-block { display:block; }

.buttonset .button { margin: 10px 7px; text-align: center; width: 160px; padding-left:10px !important; padding-right:10px !important; }



/* =Table CSS

========================================================================================*/

table { max-width:100%; background-color:transparent; border-collapse:collapse; border-spacing:0; border:1px solid #ddd; }

table { width:100%; margin-bottom:30px; }

table th, table td { padding:14px 15px; line-height:1.32; text-align:left; vertical-align:top; border-top:1px solid #ddd;  border-right:1px solid #ddd;}

table th { background:#ececec; font-weight:700; padding:17px 15px; font-size:16px; }

table tr:hover td { background:#fbfbfb; }

table tr.selected td { background:#fbfbfb; }

table thead th { vertical-align:middle; }

table caption + thead tr:first-child th, table caption + thead tr:first-child td, table colgroup + thead tr:first-child th, table colgroup + thead tr:first-child td, table thead:first-child tr:first-child th, table thead:first-child tr:first-child td { border-top:0; }





/* =tabnav CSS

========================================================================================*/

.tabnav { width:100%; margin:0; padding:0; list-style:none; border:solid 1px #e9edee;  }

.tabnav li { float:left; position:relative; margin:0; width:25%; text-align:center; font-weight:600; text-transform:uppercase; }

.tabnav li:first-child { margin:0; }

.tabnav li h2 { margin:0; font-size:15px; }

.tabnav li a { display:block; padding:16px 5px; text-decoration:none; color:#505061; line-height:1.25; background:#e9edee; margin-bottom:-1px; border-left:solid 1px #dde1e2; }

.tabnav li:first-child a { border-left:0; }

.tabnav li.active a, .tabnav li a:hover { background-color:#fff; color:#cd0a10; }

.tabnav li.active a:after { display:block; }

.tab-container { padding:20px; border:solid 1px #e9edee; border-top:0; }

.tabcontent .quicklist li, .tabcontent .quicklist { margin:0; }

.tabcontent { display:none;  }

.tabcontent p { color:#666; margin:20px 0 0; }

.tabcontent p:first-child { margin-top:0; }

.tabcontent p a, .accordion-data p a { color:#7f97ae; text-decoration:underline; }

.tabcontent p a:hover, .accordion-data p a:hover { color:#00305d }

.tabcontent h4 { margin:0 0 15px; }





/* =Accordian CSS

========================================================================================*/

.accordion-databox .accordion-row { }

.accordion-databox .accordion-row:first-child { border-top:0; }

.accordion-databox .accordion-row h5 { cursor:pointer; margin:0; background:#f3f3f3; color:#555; position:relative; padding:16px 54px 16px 16px; font-weight:600; font-size:15px; margin-bottom:7px; text-transform:uppercase; }

.accordion-databox .accordion-row h5:before { position:absolute; right:0; top:0; content:''; width:54px; height:100%; z-index:1; background:rgba(0,0,0,0.08); } 

.accordion-databox .accordion-row h5:after { content:''; position:absolute; right:18px; top:50%; margin-top:-4px; border-top:solid 8px #818181; border-left:solid 8px transparent; border-right:solid 8px transparent; z-index:2  }

.accordion-databox .accordion-row h5.open { color:#272c2f;}

.accordion-databox .accordion-row h5.open:after { border-top:0; border-bottom:solid 8px #272c2f; }

.accordion-data { display:none; padding:15px 0; }

.accordion-data p { padding:0 6px; margin:20px 0 0; }

.accordion-data p:first-child { margin-top:0; }



/* =Alertbox CSS

========================================================================================*/

.alert { padding:16px 16px 16px 55px; margin:20px 0; color:#454545; position:relative; }

.alert:before { position:absolute; content:''; left:15px; top:15px; width:24px; height:24px; background:url(../images/bgi/sprites.svg) no-repeat 0 0; }

.alert-notification {  background-color:#fff0f4; border:solid 1px #db524c; color:#db524c; }

.alert-notification:before { background-position:0 0; }

.alert-info { background-color:#e8f6ff;  border:solid 1px #0082d5; color:#0082d5;  }

.alert-info:before { background-position:-26px 0; }

.alert-warning { background-color:#fef4ec; border:solid 1px #ff9948; color:#ff9948; }

.alert-warning:before { background-position:-52px 0; }

.alert-success { background-color:#edfff6; border:solid 1px #04be5b; color:#04be5b; }

.alert-success:before { background-position:-79px 0; }

.alert-normal { background-color:#efefef; border:solid 1px #999; padding-left:16px; color:#555; }

.alert-normal:before { display:none; }





/* =Default page CSS

========================================================================================*/

.heading-listblock { padding:20px 0; }

.heading-listblock p, .heading-listblock blockquote { margin:0 0 35px; }

.heading-listblock p:last-child { margin-bottom:0; } 

.heading-listblock .paragraph-block p { margin:0 0 20px; }

.list-block ul, .list-block ol { padding-left:22px; margin-left:-5px; }

.list-block ul li, .list-block ol li { margin:5px 0; } 

.list-block ul.custom-arrow-list { margin:0; padding:0; }

.custom-arrow-list li { line-height:1.8; margin:0 0 10px; }

.defaultpage .buttonset { text-align:left; margin:40px 0 0; }





/* =Home-Page (only homepage used classes)

========================================================================================*/

.homepage .sectionimg { position:absolute; height:100%; top:0; z-index:-1; }

#mainbanner { background:#2b2a2a; overflow-x:hidden; position:relative; z-index:1; height:100vh; min-height:800px; }

.sliderbganim, #animbg { width:100%; height:100%; position:absolute; margin:0; padding:0; background:#2b2a2a; overflow:hidden; z-index:-1; }

.heroslider { width:100%; height:100%; }

.heroslider .slick-list { overflow:visible; }

.heroslider .item { height:100vh; position:relative; min-height:800px; height:100%; }

.heroslider .slider-content { position:absolute; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); margin:70px 0 0; max-width:770px; width:100%; color:#fff; z-index:2; }

.slider-content h1 { margin:0 0 30px; }

.slider-content .overline { position:relative; display:inline-block; z-index:1; } 

/*.slider-content .overline:after { content:''; position:absolute; background:#cd0a10; width:0; height:15px; bottom:12px; left:0; right:0; z-index:-1; -webkit-transition:0.3s all ease-in-out 0.8s; transition:0.3s all ease-in-out 0.8s; }

.slick-active .slider-content .overline:after { width:100%; }*/

.slider-content p { line-height:2; margin:0 0 30px; }

.slider-image { position:absolute; right:0; top:0; margin:0; height:100vh; min-height:100%; overflow:hidden; background-repeat:no-repeat; background-size:cover; }

.slider-image img { width:100%; opacity:0; }

.scrolldown { border:#fff solid 2px; border-radius:50px; position:absolute; bottom:30px; left:0; right:0; width:28px; height:50px; margin:0 auto; }

.scrolldown:before, .scrolldown:after { content:''; position:absolute; left:0; right:0; margin:0 auto; }

.scrolldown:before { background:#fff; width:3px; height:10px; top:2px; border-radius:50px; -webkit-animation:1.25s infinite linear; -moz-animation:scroll 1.25s infinite linear; animation:scroll 1.25s infinite linear; }

.scrolldown:after { background:rgba(255,255,255,0.80); position:absolute; top:0; width:1px; height:16px; }

.heroslider .slick-arrow { position:absolute; bottom:30px; right:0; z-index:1; }

.slick-arrow { background:#252525 url(../images/bgi/sprites.png) no-repeat 0 0; width:50px; height:50px; text-indent:-999em; padding:0; }

.slick-arrow:hover { background:#cd0a10 url(../images/bgi/sprites.png); }

.slick-arrow.slick-prev { background-position:0 -70px; right:100px; }

.slick-arrow.slick-next { background-position:-51px -70px; right:40px; }

.slider-image:before, .slider-image:after { content: ''; width: 100%; height: 100%; position: absolute; right: 0; top: 0; }

.slider-image:before { background: #1b1a1a; -webkit-transition: 1s all cubic-bezier(1,0,0,1) 1s; transition: 1s all cubic-bezier(1,0,0,1) 1s; }

.slider-image:after { background: #2b2a2a; -webkit-transition: 1s all cubic-bezier(1,0,0,1) 0.5s; transition: 1s all cubic-bezier(1,0,0,1) 0.5s; }

.slick-current .slider-image:before, .slick-current .slider-image:after { width:0; }







#corefeatures .sectiontitle { margin:0 0 40px; }

.featurelisting ul { list-style:none; margin:0 -15px; padding:0; }

.featurelisting ul:after { content:''; display:table; clear:both; }

.featurelisting li { width:33.333%; float:left; padding:30px 15px; position:relative; }

/*.featurelisting li:before { content:''; position:absolute; background:url(../images/bgi/sprites.png) no-repeat 0 0; width:90px; height:44px; top:0; left:15px; }

.featurelisting li.ror:before { background-position:0 -121px; }

.featurelisting li.hrd:before { background-position:-91px -121px; }

.featurelisting li.add:before { background-position:0 -166px; }

.featurelisting li.sass:before { background-position:-91px -166px; }

.featurelisting li.rus:before { background-position:0 -211px; }

.featurelisting li.cad:before { background-position:-90px -211px; }*/



.featurelisting li.aos-animate svg g { fill-opacity:0; fill:#cc0000; stroke:#cc0000; stroke-width:1; stroke-dasharray:150; stroke-dashoffset:160; animation:draw infinite linear; animation-name:drawaslogo; animation-duration:3.5s; animation-iteration-count:1; animation-fill-mode:forwards; animation-timing-function:linear; }

@-webkit-keyframes drawaslogo {

  80% { stroke-dashoffset:10; stroke-width:1; fill-opacity:0; }

  90% { stroke-dashoffset:20; stroke-width:1; fill-opacity:0; }

  100% { stroke-width:0; fill-opacity:1; }

}

@keyframes drawaslogo {

  80% { stroke-dashoffset:10; stroke-width:1; fill-opacity:0; }

  90% { stroke-dashoffset:20; stroke-width:1; fill-opacity:0; }

  100% { stroke-width:0; fill-opacity:1; }

}



/*.featurelisting li:nth-child(1), .featurelisting li:nth-child(2), .featurelisting li:nth-child(3) { margin:0 0 30px; }*/

.featurelisting li h4 { font-size:22px; margin:0 0 12px; position:relative; }

.featurelisting li h4:before { position:absolute; top:0; left:0; padding:0 0 5px; overflow:hidden; max-width:0; border-bottom:2px solid #cc0000; color:#cc0000; content:attr(data-hover); -webkit-transition:max-width 0.8s; -moz-transition:max-width 0.8s; transition:max-width 0.8s; white-space:nowrap; }

.featurelisting li:hover h4:before { max-width:100%; }

.featurelisting li p { margin-bottom:0; }



#work { text-align:center; background:#ebebeb; }

.workslider { max-width:920px; width:100%; margin:0 auto; }

.workslider a { display:inline-block; }

.workslider figure { margin:0 auto; }

.workslider figure img { max-width:100%; }

#work .buttongroup { margin:60px 0 0; }

#work .buttongroup .button { margin:0 20px; }



#testimonials { background:#1a1a1a url(../images/bgi/testimonials.jpg) no-repeat 0 0 / cover; }

#testimonials .sectiontitle { position:absolute; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); margin:0; }

#testimonials .col70 { float:right; padding:0 0 0 200px; }

.clientreview { border-bottom:#5d5d5d solid 1px; padding:0 0 50px 130px; margin:0 0 35px; position:relative; }

#testimonials .item:last-child .clientreview { margin-bottom:0; padding-bottom:0; border-bottom:0; }

.clientreview figure { margin:0; position:absolute; top:0; left:0; } 

.clientreview p { font-size:14px; margin:0; }

.clientname { font-size:16px; font-weight:600; display:block; text-align:right; margin:10px 0 0; }

.clientname:before { content:''; display:inline-block; vertical-align:middle; background:#fff; width:8px; height:3px; margin:0 8px 0 0; }

.videotestimonials { font-size:0; margin:0 -10px; }

.videotestimonials a { display:inline-block; vertical-align:middle; padding:0 10px; }

.videotestimonials figure { margin:0; }

.videotestimonials figure img { width:100%; }



#client { text-align:center; }

#client .wrap { max-width:1200px; }

.clientslider figure { margin:0; }

#client .slick-dots { list-style:none; margin:30px 0 0; padding:0; }

#client .slick-dots li { display:inline-block; padding:0 10px; vertical-align:middle; }

#client .slick-dots li button { background-color:#1a1a1a; padding:0; text-indent:-999em; width:20px; height:20px; background:#fff; position:relative; border-radius:50%; -webkit-transition:0.2s all ease-in-out; transition:0.2s all ease-in-out; }

#client .slick-dots li button:after { content:''; position:absolute; background-color:#1a1a1a; width:8px; height:8px; left:0; right:0; margin:0 auto; top:50%; margin-top:-4px; border-radius:50%; }

#client .slick-dots li.slick-active button { border:#1a1a1a solid 2px; }



#aboutus { background:#1a1a1a; font-size:0; position:relative; overflow:hidden; z-index:1; }

#aboutus:before { content:'A'; font-family:'Abril Fatface', Arial, Helvetica, sans-serif; color:rgba(0,0,0,0.25); font-size:700px; position:absolute; top:50%; left:0; right:0; -webkit-transform:translateY(-50%); transform:translateY(-50%); z-index:-1; text-align:center; }

#aboutus .sectionimg { position:static; }

#aboutus .sectionimg img { width:100%; }

#aboutus figure { margin:0; }

#aboutus .contentblock { text-align:center; font-size:14px; padding:0 20px; }

#aboutus .contentblock p { max-width:545px; width:100%; margin:0 auto 30px; } 



/* =All Keyframe animation

========================================================================================*/



@-webkit-keyframes scroll {

	0% { -webkit-transform:scaleY(.4)translateY(0); transform:scaleY(.4)translateY(0); }

	20% { -webkit-transform:scaleY(.6)translateY(4px); transform:scaleY(.6)translateY(4px); }

	40% { -webkit-transform:scaleY(1)translateY(6px); transform:scaleY(1)translateY(6px); }

	60% { -webkit-transform:scaleY(0.6)translateY(4px); transform:scaleY(0.6)translateY(4px); }

	80% { -webkit-transform:scaleY(0.4)translateY(2px); transform:scaleY(0.4)translateY(2px); }

	100% { -webkit-transform:scaleY(0.4)translateY(-1px); transform:scaleY(0.4)translateY(-1px); }

}

@keyframes scroll {

	0% { -webkit-transform:scaleY(.4)translateY(0); transform:scaleY(.4)translateY(0); }

	20% { -webkit-transform:scaleY(.6)translateY(4px); transform:scaleY(.6)translateY(4px); }

	40% { -webkit-transform:scaleY(1)translateY(6px); transform:scaleY(1)translateY(6px); }

	60% { -webkit-transform:scaleY(0.6)translateY(4px); transform:scaleY(0.6)translateY(4px); }

	80% { -webkit-transform:scaleY(0.4)translateY(2px); transform:scaleY(0.4)translateY(2px); }

	100% { -webkit-transform:scaleY(0.4)translateY(-1px); transform:scaleY(0.4)translateY(-1px); }

}



/*.activitysection { padding:40px 0 0; }*/

.activitysection .sectiontitle { text-align:center; }

.activitiesslider { position:relative; }

.activitiesslider .slick-arrow { position:absolute; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); z-index:1; }

.activitiesslider .slick-arrow.slick-prev { left:20px; }

.activitiesslider .slick-arrow.slick-next { right:20px; }

.activitiesslider figure { margin:0; }

.activitiesslider figure img { max-width:100%; width:100%; height:auto; }



/*.homepage * { border:red solid 1px; }*/



/* =Portfolio Page CSS

========================================================================================*/

#portfolio .wrap { max-width:1200px; }

#filters { list-style:none; margin:0 0 80px; padding:0 20px; display:block; text-align:center; }

#filters li { display:inline-block; vertical-align:middle; padding:0 4px; }

#filters li a { text-transform:none; }

#filters li.selected a:hover, #filters li.selected a { background:#1a1a1a; color:#fff; }

.work-thumbs { list-style: none; position: relative; margin:0 -15px; padding:0; }

.work-thumbs:after { content:''; display:table; clear:both; }

.work-thumbs li { float: left; background:#fff; position: relative; padding:0 15px; width:50%; margin:0 0 60px; }

.work-thumbs li:first-child, .work-thumbs li:nth-child(2) { margin-top:0; }

.work-thumbs li a { display: block; position: relative; overflow: hidden; }

.work-thumbs li figure { margin:0; border:#d1d1d1 solid 2px; }

.work-thumbs li figure img { max-width:100%; width:100%; height:auto; }

.work-thumbs li .button { font-size:0; position:absolute; right:0; bottom:20px; padding:0; -webkit-transition:0.3s all ease-in-out; -moz-transition:0.3s all ease-in-out; transition:0.3s all ease-in-out; }

.work-thumbs li.active .button, .work-thumbs li .button:hover { background-color:#cd0a10; font-size:14px; padding:0 0 0 24px; }

.work-thumbs li .button:after { content:''; display:inline-block; vertical-align:middle; background:url(../images/bgi/sprites.png) no-repeat -183px -169px; width:48px; height:48px; }

.work-thumbs li .workdes { position:absolute; background:rgba(0,0,0,0.8); width:100%; height:100%; padding:18px; }

.work-thumbs li .workdes span { font-size:18px; color:#fff; font-weight:600; display:block; position:relative; }

.work-thumbs li .workdes span:before { content:''; background:#4d4d4d; width:100%; height:4px; margin:0 0 14px; display:block; }

.work-thumbs li .workdes p { color:#fff; margin:15px 0 0; }

.work-thumbs li .projectname { font-size:22px; font-weight:600; display:block; margin:15px 0 0; }

.work-thumbs li.hidepost { display:none; }

#portfolio .itmselected { display:none; cursor:pointer; -webkit-transition:all 0.3s; transition:all 0.3s; }

.filter-menu { position:absolute; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); right:40px; display:block; width:28px; height:2px; cursor:pointer; -webkit-transition:all 0.3s; transition:all 0.3s; display:none; z-index:6; }

.filter-menu > span { display:block; width:100%; height:3px; background-color:#fff; border-radius:3px; position:relative; }

.filter-menu > span:before, .filter-menu > span:after { content:""; position:absolute; width:100%; height:100%; background-color:#fff; border-radius:3px; -webkit-transition:all 0.3s; transition:all 0.3s; }

.filter-menu > span:before { -webkit-transform:translateY(-8px); transform:translateY(-8px); }

.filter-menu > span:after { -webkit-transform:translateY(8px); transform:translateY(8px); }

.filter-menu.open { -webkit-transform:rotate(45deg); transform:rotate(45deg); -webkit-transition-delay:.3s; transition-delay:.3s; }

.filter-menu.open > span:before { -webkit-transform:rotate(90deg); transform:rotate(90deg); }

.filter-menu.open > span:after { -webkit-transform:rotate(90deg); transform:rotate(90deg); }

#portfolio .buttonset { margin:0; display:none; }

#portfolio.allactive .buttonset { display:block; }





/* =Portfolio Detail Page CSS

========================================================================================*/

#workdetail { padding:120px 0 0; }

.workdetail-header { border-bottom:#ccc solid 2px; padding-bottom:18px; margin-bottom:50px; }

.projectdetailmain p { line-height:2; font-size:16px; margin:0 0 60px; }

.projectdetailmain p + p { margin-top:-40px; }

.projectimg { max-width:920px; width:100%; margin:0 auto; }

.projectimg img { max-width:100%; width:100%; height:auto; }

.workdetail-header:after { content:''; display:table; clear:both; }

.workdetail-header h3 { float:left; margin-bottom:0; font-weight:600; }

.workdetail-header .button { float:right; margin:16px 0 0; }

.projecttech h4, .projectfeatures h4 { font-size:40px; font-weight:600; border-bottom:#ccc solid 2px; padding-bottom:20px; margin-bottom:25px; }

.projecttech ul { list-style:none; margin:0; padding:0; }

.projecttech li { font-size:20px; font-weight:600; margin:0 0 20px; }

.projecttech li span { color:#c3161c; }

.projecttech li span a:hover { color:#1a1a1a; text-decoration:none; }

.projectfeatures li { font-size:20px; }

.projectfeatures .custom-arrow-list li:before { top:16px; }

.otherinfo { margin:100px 0 0; }

.otherinfo .cols { margin:0 -40px; }

.otherinfo .cols .col { padding:0 40px; }

.projectnav { background:#eaeaea; padding:160px 0; margin:40px 0 0; }

.projectnav .projectnav-wrap { max-width:1064px; margin:0 auto; width:100%; padding:0 20px; text-align:center; }

.projectnav .projectnav-wrap .col { position:relative; }

.projectnav .projectnav-wrap .col:first-child:after { content:''; position:absolute; top:50%; right:0; background:#bbb; width:1px; height:360px; transform:translateY(-50%); }

.projectnavlink { position:relative; width:300px; z-index:1; display:inline-block; text-align:center; height:200px; }

.projectnavlink a { background:#fff; font-size:28px; font-weight:600; padding:24px 20px; box-shadow:0 0 2px rgba(0,0,0,0.3); display:block; color:#1a1a1a; position:absolute; width:100%; height:auto; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); left:0; right:0; margin:0 auto; }

.projectnavlink a:hover { color:#cd0a10; text-decoration:none; }

.projectnavlink:before { content:attr(data-content) ""; position:absolute; left:0; right:0; top:50%; margin:0 auto; transform:translateY(-50%); font-size:435px; color:#cd0a10; font-weight:600; z-index:-1; }

.projectdetailmain p + ul { margin:-40px 0 40px; }



/* =Contact Page CSS

========================================================================================*/

.contact-left { padding:120px 0; }

.officeaddress.indiaoffice { padding-bottom:50px; margin-bottom:50px; border-bottom:#ddd solid 1px; }

.address-info { background:#fff; }

.officeaddress h4 { font-size:28px; font-weight:600; text-transform:uppercase; margin:0 0 20px; }

.officeaddress h4:before { content:''; display:inline-block; vertical-align:middle; background:url(../images/bgi/sprites.png) no-repeat 0 0; width:34px; height:23px; position:relative; top:-1px; margin:0 12px 0 0; }

.officeaddress.indiaoffice h4:before { background-position:-183px -121px; }

.officeaddress.usaoffice h4:before { background-position:-183px -145px; }

.officeaddress  ul { list-style:none; margin:0; padding:0; }

.officeaddress li { margin:0 0 10px; position:relative; padding:0 0 0 36px; }

.officeaddress li:before { content:''; background:url(../images/bgi/sprites.png) no-repeat 0 0; width:21px; height:28px; position:absolute; left:0; top:0; }

.officeaddress li.address:before { background-position:-168px -70px; }

.officeaddress li.mobile:before { background-position:-190px -70px; }

.officeaddress li.email:before { background-position:-212px -70px; }

.officeaddress li, .officeaddress li a { color:#1a1a1a; }

.officeaddress li a:hover { text-decoration:none; }

.contact-top:after { content:''; display:table; clear:both; }

.contact-left { width:40%; float:left; }

.contact-right { width:60%; float:right; }

#map { height:682px; }

.contactform { background:#1a1a1a; }

.getin-touch { max-width:1200px; padding:0 30px; margin:0 auto; width:100%; }

/*.sectiontitle { text-align:center; }*/

.getin-touch .form-block { margin:0 -12px 0; }

.getin-touch .form-group { margin:0 0 35px; }

.getin-touch .form-block .form-group { float:left; padding:0 12px; width:50%; }

.getin-touch .form-block .form-group label { left:12px; }

.getin-touch .form-block .form-group label.error { margin: 0px 0; position: initial; width: 100%;}

.getin-touch .form-group label.active, .getin-touch .form-block .form-group label.active { color:#999; }

.getin-touch .form-block:after { content:''; display:table; clear:both; }

.getin-touch input, .getin-touch textarea, .getin-touch input:focus, .getin-touch textarea:focus { color:#fff; }

.getin-touch input:focus, .getin-touch textarea:focus { border-bottom-color:#fff; }

.submit-wrapper { text-align:center; }

.getin-touch .btn-submit { margin:40px 0 0; }

.getin-touch .btn-submit input[disabled="disabled"] { opacity:0.3; }

.getin-touch .btn-submit input[disabled="disabled"]:hover { background:#cd0a10; color:#fff; }

.getin-touch .btn-submit br { display:none; }

.ebcaptcha-wrapper { display:inline-block; max-width:220px; width:100%; margin:0 30px 0 0; position:relative; }

.getin-touch .ebcaptcha-wrapper.error input { border-color:red; }

.getin-touch .ebcaptcha-wrapper.error:after { content:'answer is incorrect.'; position:absolute; top:100%; left:0; font-size:13px; color:red; margin:5px 0 0; text-align:left; }



/* =Page-Loading CSS

========================================================================================*/

.page-loader { background:#fff; width:100%; height:100vh; position:absolute; left:0; top:0; z-index:999; }

.page-loader .logo-holder { left:0; margin:0 auto; max-width:480px; position:absolute; right:0; text-align:center; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); width:100%; }

.page-loader img { width:100%; }

.page-loader .fill-logo { background-position:0 0; background-repeat:no-repeat; background-size:cover; height:100%; left:0; position:absolute; top:0; width:100%; }

.contentmodule .custom-arrow-list { padding:0; }



/* =Career Page CSS

========================================================================================*/

.career-page #main { padding:120px 0; }

.careers-wrapper .accordion-databox .accordion-row:first-child h5 { border-top:#222 solid 2px; }

.careers-wrapper .accordion-databox .accordion-row h5 { font-size:0; font-weight:500; color:#222; background:none; border-bottom:#222 solid 2px; padding:36px 120px 36px 120px; position:relative; z-index:1; -webkit-transition:0.3s all cubic-bezier(.39,.58,.57,1); transition:0.3s all cubic-bezier(.39,.58,.57,1); text-transform:capitalize; margin-bottom:0; }

.careers-wrapper { max-width:1140px; width:100%; margin:0 auto; }

.careers-wrapper .accordion-databox .accordion-row h5.open, .careers-wrapper .accordion-databox .accordion-row h5:hover { color:#fff; }

.careers-wrapper .accordion-trigger:before { display:none; }

.careers-wrapper .accordion-databox .accordion-row .accordion-trigger:after { content:''; position:absolute; top:0; left:0; right:0; background:#222; width:100%; height:0; border:0; margin:0; -webkit-transition:all .45s cubic-bezier(.4,0,.2,1); transition:all .45s cubic-bezier(.4,0,.2,1); transform:none; z-index:-1; }

.careers-wrapper .accordion-databox .accordion-row h5.open:after, .careers-wrapper .accordion-databox .accordion-row .accordion-trigger:hover:after { height:100%; top:auto; bottom:0; }

.navigatoricon { width:17px; height:17px; position:absolute; left:40px; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); }

.navigatoricon:before, .navigatoricon:after { content:''; position:absolute; top:0; left:0; right:0; margin:0 auto; background:#222; -webkit-transition:0.2s all ease-in; transition:0.2s all ease-in; }

.navigatoricon:before { width:3px; height:100%; }

.navigatoricon:after { width:100%; height:3px; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); }

.careers-wrapper .accordion-databox .accordion-row h5.open .navigatoricon:before, .careers-wrapper .accordion-databox .accordion-row h5.open .navigatoricon:after, .careers-wrapper .accordion-databox .accordion-row h5:hover .navigatoricon:before, .careers-wrapper .accordion-databox .accordion-row h5:hover .navigatoricon:after { background:#fff; }

.careers-wrapper .position, .careers-wrapper .accordion-trigger .jobtime { display:inline-block; width:50%; font-size:22px; }

.getin-touch.careers-form { padding:0; }

.careers-wrapper .accordion-databox .accordion-row h5.open .navigatoricon:before { height:0; top:50%; }

.careers-wrapper .accordion-data { background:#222; color:#fff; padding:20px 120px 60px 120px; }

.accordion-data .custom-arrow-list { padding:0; font-size:16px; }

.accordion-data .maindescription { font-weight:500; font-size:20px; margin:0 0 50px; }

ul.listin50:after { content:''; display:table; clear:both; }

.listin50 li { width:50%; float:left; padding:0 20px; }

.careers-form { margin:50px 0 0; }

.careers-form .customfile { border-bottom: solid 1px #d7d9dd; position:relative; }

.careers-form .customfile span.cust-field { color:#fff; }



.customfile{ position:relative; overflow:hidden; width:100%; height:55px; padding:13px 0 10px; }

.customfile span{ display:block; float:left; }

.customfile span.cust-field { line-height:20px; padding:3px 4px; width:200px; height:20px; cursor:pointer; color:#212121; display:block; font-weight:normal; color:#333; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.customfile span.cust-btn { position:absolute; right:0; top:0; background:#333; padding:16px 30px; }

.customfile .fileinput{ position:absolute; left:0px; top:0px; cursor:pointer; z-index:99;}



#ebcaptchatext, #ebcaptchainput { display:none; }

.ebcaptcha-wrapper #ebcaptchatext, .ebcaptcha-wrapper #ebcaptchainput { display:block; }



